[2019-08-15 20:44] petermuessig opened #1 "Add example for UI5 app with TypeScript"

[2019-08-15 20:45] petermuessig opened #2 "Add example for UI5 app with Custom Bundling"

[2019-08-15 20:45] petermuessig opened #3 "Add example for UI5 library"

[2019-08-16 05:15] petermuessig opened #4 "Add routing to UI5 app"

[2019-08-16 05:15] petermuessig opened #5 "Add initial CSS and Busy Indicator for UI5 app"
Embed the sap.ui.core CSS and a Busy Indicator in the content section to show a loading indicator...

[2019-08-16 15:41] vobu opened #6 "equip packages w/ tests where adequate"

[2019-08-19 14:26] #4 closed, assigned to vobu

[2019-08-20 17:05] petermuessig opened #9 "Setup Git Actions to run QUnit/OPA tests"

[2019-08-20 17:06] petermuessig opened #10 "Setup Git Actions to deploy app to GH pages"

[2019-08-20 19:24] petermuessig opened #11 "Publish repository"
@vobu - should we publish the repo with your user or mine?

[2019-08-20 19:25] petermuessig opened #12 "Publish NPM modules"
Test lerna to publish middleware and task extensibility - somehow we need to think about scope and name

[2019-09-09 22:03] petermuessig commented on #12
Published via lerna

[2019-09-09 22:03] #12 closed

[2019-09-09 22:03] petermuessig commented on #11
Repository is public now

[2019-09-09 22:03] #11 closed

[2019-09-09 22:37] petermuessig opened #20 "Add author, license and repository to package.json of middlewares and task and publish 0.1.1"

[2019-09-10 05:09] #20 closed

[2019-09-11 13:11] lucasheim commented on #1
Hello, @petermuessig ! We are currently using a custom Typescript version with UI5, so we can have transpiling from classes to `sap.ui.define` modules. Does your task `ui5-task-transpile` solves this in any way? Can we use an ES6 class to define a UI5 controller, for example?

[2019-09-13 09:35] bkrrrr opened #22 "place each middleware/task in one repo"
As seen [here](https://github.com/npm/npm/issues/2974)
`npm install https://github.com/{USER}/{REPO}/tarball/{BRANCH}`
doesn't work for monorepos.

This makes forking and adjusting really pointless, i can`t install my own extension in a persistent way into my project.

real live example:
`npm install https://github.com/bkrrrr/ui5-ecosystem-showcase/ui5-middleware-livereload `

[2019-09-16 08:05] vobu commented on #22
hi, why not do
`npm install ui5-middleware-livereload --save-dev`
in your project?
all the custom middlwares and tasks are available as standalone npm modules.

[2019-09-16 09:50] bkrrrr commented on #22
because i made some changes & im not interested in making a npm ui5-middleware-livereload2...

I just pointed out, that this is bad practice because of the former mentioned reasons and not supported by npm.

[2019-09-16 09:50] #22 closed

[2019-09-19 09:01] petermuessig commented on #22
Hi @bkrrrr ,

you can also use linking to connect two NPM projects locally. Sync the repo locally, like the livereload middleware with your project and modify it.

BR,
Peter

[2019-10-25 11:50] vobu opened #37 "refactor UI to use Web Components"

[2019-10-25 13:12] vobu opened #38 "showcase UIveri5"

[2019-10-26 05:36] petermuessig commented on #37
We have some groundwork to do beforehand - for sure we can mix both worlds already - but at UI5 side we need to bring the pieces together:
- benefit from the same configuration (works partially)
- reuse the same UI5 core (harder work)
- using a wrapper UI control to integrate the Web Component into the UI5 lifecycle

[2019-10-28 07:26] #6 closed

[2020-02-05 13:40] arindamseth opened #115 "With transpiled files, the following error comes while deploying: File contains different line feeds. Mixed line feeds are not supported"
With transpiled files, the following error comes while deploying:
"File contains different line feeds. Mixed line feeds are not supported"
Is it possible to follow existing EOL characters while transpiling?

[2020-02-06 13:15] vobu commented on #115
hi, hm, not sure, never had this case. would you mind switching to unix-stlye line feeds (`lf`) and converting the files in question to that linefeed-style?

[2020-02-06 13:42] arindamseth commented on #115
Yes, as a measure to use this, I have switched to LF instead of CRLF. However I was wondering if it was possible for this tool to follow existing EOL characters. Thanks

[2020-02-07 15:17] bniculea opened #116 "Livereload does not work on Microsoft Edge (chromium)"
I have configured the application to use the ui5-middleware-livereload (^0.1.4) and  the refresh is working on Chrome but not on Microsoft Edge, even though they share the same platform.
It might be a hard dependency on Chrome and not Chromium.

[2020-02-07 15:18] vobu commented on #116
i'll check while upgrading deps soon

[2020-02-10 17:21] vobu commented on #116
just tested this with the latest `edge` (macOS) -> works!
might be due to a recent version bump of the underlying `livereload` module.
please re-test and either close on resolve (hopefully :) ) or describe any potential (new) problems.
thx!

[2020-02-10 17:21] vobu commented on #115
don't see this (mixed line feeds) being done - I'd rather use a .editorrc or .prettierrc forcing `lf` linefeeds :)

[2020-02-10 17:21] #115 closed

[2020-02-10 17:22] vobu commented on #38
this will be done with "feature/cap"

[2020-02-10 17:45] bniculea commented on #116
Great!
It works now, Edge has done some update too.
Nevertheless, thank you!

[2020-02-10 17:45] #116 closed

[2020-02-15 13:25] lboehm commented on #115
Just my two cents :) I had the same problem, and first I forced my editor (on windows) to use unix style linefeeds. But I was not satisfied with this approach (I don't remember why 🤦‍♂), so I now modify linefeed when transpiling:

[code]
(*This snippet has to be put in promises `then` in [transpile module](https://github.com/petermuessig/ui5-ecosystem-showcase/blob/master/packages/ui5-task-transpi

[2020-02-15 14:37] arcanist123 opened #125 "build fails for @sap\node-jwt"
Hello.

I am somehow not able to follow the readmy without getting the error. I have node 12.XX
I am doing the following:
git clone https://github.com/petermuessig/ui5-ecosystem-showcase
cd ui5-ecosystem-showcase
yarn --ignore-engines

And getting the attached error.
[issue_yarn.txt](https://github.com/petermuessig/ui5-ecosystem-showcase/files/4208593/issue_yarn.txt)

[2020-02-15 20:02] vobu commented on #125
fs-events and node-gyp are always special candidates that tend to work with LTS node versions only. so please get node 12 LTS and try again.

[2020-02-15 20:06] arcanist123 commented on #125
I have Node version v12.16.0 which is LTS

[2020-02-16 09:15] vobu commented on #115
cool, would you put this in a PR?

[2020-02-16 10:30] lboehm commented on #115
Okay, I'll give it a try :)

[2020-02-25 22:54] petermuessig commented on #125
I upgraded the dependencies and the yarn.lock file now. Maybe this helps to solve the issue as node-jwt has been upgraded to 1.6.6 now.

[2020-02-26 07:53] arcanist123 commented on #125
same error

C:\Users\Arcanist\IdeaProjects\ui5-ecosystem-showcase>yarn --ignore-engines
yarn install v1.22.0
[1/5] Resolving packages...
[2/5] Fetching packages...
info fsevents@2.1.2: The platform "win32" is incompatible with this module.
info "fsevents@2.1.2" is an optional dependency and failed compatibility check. Excluding it from installation.
info fsevents@1.2.9: The platform "win32" is inc

[2020-02-26 22:24] #125 closed

[2020-04-06 06:50] BenReim opened #168 "Add cache handling"
Thank you for this showcase project. It comes very handy. 👍

This is an enhancement request. As resource caching is a central issue in todays web applications, it would be nice to add cache-handling to the best-practice-showcase project. Ideally, such a cache handling would take in to account more advance use-cases that are possible with the ui5-tooling, such as custom bundles.

[2020-04-08 18:49] petermuessig commented on #168
I will try to think about this topic - I have recently played around with yet another cachebuster concept - Easter weekend is coming - maybe I find some time 😄

[2020-04-13 16:59] esjewett opened #174 "General configuration from environment variables and .env files"
It would help a lot for CI scenarios if settings could optionally be pulled from environment variables. Support for dot-env on top of this would be fantastic. I'm mostly interested in this for ui5-middleware-simpleproxy in order to set the `baseUri`, but seems like something that would be a good standard for all tasks and middleware. Thoughts? Would pull requests to implement this be accepted in t

[2020-04-13 17:33] vobu commented on #174
absolutely. dotenv rocks 👍🏻

[2020-04-14 08:47] petermuessig commented on #174
@esjewett - yes, pull requests will be appreciated! :-)

[2020-04-17 11:10] BenReim commented on #168
Initially, I thought that having a custom task appending some hash to the build bundle (e.g.`sap-ui-custom.a294294.js`) could be a way. But then I realized that at times, files are not being loaded from the bundle (such in the case of `sap/ui/core/ComponentSupport.js`).

Additionally, `css` / `json` files are currently not being bundled when running a a self-contained build, so that there are requ

[2020-04-21 16:45] Magoli1 opened #185 "Cfdestination hardcoded compatibility"
Hey everyone,

I am currently trying to get a scenario running, where the cfdestination middleware (and hence the sap approuter) is used as a proxy to access the real (sandbox) systems, to fetch data. To enable this, the approuter is able to pick up the default-env.json and default-services.json by default. This would allow developers to easily test the ui from their localhost with real backend da

[2020-04-21 17:15] vobu commented on #185
even though i authored the original plugin, i never used it with authentication. but had a hunch that it should work as designed for local -> remote-cf auth scenarios. then @IObert said it doesn't: https://github.com/petermuessig/ui5-ecosystem-showcase/pull/163#issuecomment-607850560
so i'm pointing fingers his way 👉 😀 and hope he'll join in on the discussion

[2020-04-21 17:34] Magoli1 commented on #185
In the scenario where authentication should be disabled, this perfectly makes sense, as you do not want to load any default environment, you just wanna proxy to an URL.  I think thats what @IObert meant, and thats also what is achieved by hardcoding the setting👍
But in the case you would like to have auth, then this also implies, that you have a default-env in some form supplied.

[2020-04-22 08:03] IObert commented on #185
Hi,
Yes, the current state was a hotfix to allow the usage of destinations that don't require authentication. What you're describing is a valid scenario and it makes sense to add another config option to decide whether the authmethod should be overridden or not.

I also did a short POC to read the env var and check if an xsuaa service instance is bound and decide based on this information whether

[2020-04-22 10:54] Magoli1 commented on #185
Hey @IObert,

I agree, that it is not the standard way to have authentication without an xsuaa binding and I would also propose to only go the standard way provided by approuter, which is letting it pick up default-env and/or default-services.json files.
I just checked back with a colleague about the redirect back to the app from xsuaa after login. In his case, he is starting the approuter manuall

[2020-04-22 13:19] hschaefer123 commented on #185
Hi,
concerning @IObert

I found: https://developers.sap.com/tutorials/sac-embed-story.html
where there manually handle the callback redirect.

My POC also stopped at this point, but that is a solution to solve it.

My szenario is the same like the one from Robert.
I even want to test/develop lokal appRouter while beeing connected to the real backend systems supporting html5apprepo, destination and

[2020-04-29 13:24] resitamas opened #187 "Dynamic port for ui5-middleware-livereload"
I develop several applications and use the _ui5-middleware-livereload_. I very often encounter the problem that I am not able to start an application because the port which I set for the _livereload_ server is already used by another application's _livereload_ server. I know that it is possible to set different ports, but for that I have to remember which ports have already been taken. It think th

[2020-04-30 06:54] vobu commented on #187
automatically setting a non-taken port if none is supplied via configuration is a good idea!
so in https://github.com/petermuessig/ui5-ecosystem-showcase/blob/24afc7e178084e2994e63a7f456e2855bb78d362/packages/ui5-middleware-livereload/lib/livereload.js#L23, if `options.configuration.port` is supplied, it would take precedence.
if not supplied, [get-port](https://www.npmjs.com/package/get-port) or

[2020-05-01 15:00] petermuessig commented on #187
I submitted the pr #195 right now - big thanks for the contribution

[2020-05-01 15:00] #187 closed

[2020-05-01 15:01] petermuessig commented on #174
PR #180 submitted - thanks for your contribution... :-)

[2020-05-01 15:01] #174 closed

[2020-05-05 04:48] dependabot-preview[bot] opened #196 "Dependabot couldn't reach npm.sap.com as it timed out"
Dependabot couldn't reach npm.sap.com as it timed out.

Is npm.sap.com accessible over the internet? If it is then this may be a transitory issue and can be ignored - Dependabot will close it on its next successful update run.

[View the update logs](https://app.dependabot.com/accounts/petermuessig/update-logs/31968921).

[2020-05-05 14:51] #196 closed

[2020-05-05 15:24] resitamas opened #197 "ui5-middleware-simpleproxy: module dotenv not found"
After upgrading to **0.2.2** of _ui5-middleware-simpleproxy_ it gives me the error when trying to run the `ui5 serve` command:

"middlewareRepository: Failed to require middleware module for ui5-middleware-simpleproxy: Cannot find module 'dotenv'"

I also checked my _node-modules_ folder after `npm install` and couldn't find the folder _dotenv_.

[2020-05-05 17:35] petermuessig commented on #197
Fixed with **0.2.3** of _ui5-middleware-simpleproxy_ - thanks for reporting

Fixed with: https://github.com/petermuessig/ui5-ecosystem-showcase/commit/77d436004d187cb696f98cc0d742ee1ad2a75b0e

[2020-05-05 17:35] #197 closed

[2020-05-25 09:06] marcelschork opened #217 "liveTranspile: Error if no configuration is specified"
Hi,
due to the following line 48 in liveTranspile.js

`options.configuration.debug ? log.info('...${pathname} transpiled!') : null;`

a TpyeError occurs if the configuration is not specified.

Kind regards,
Marcel

[2020-05-25 11:44] vobu commented on #217
thx for reporting - will be closed by #218

[2020-05-25 20:51] #217 closed

[2020-06-02 21:17] resitamas opened #231 "Using http headers with cfdestination"
First of all, thank you for all these middlewares and tasks, they are really useful for us.

However, we would like to use the _**cfdestination**_ middleware, but unfortunately we cannot. The problem is that we are using a predefined JWT token during the development for our backend. Before we introduced UI5 tooling we created a custom approuter and we injected the token into the _Authorization_ he

[2020-06-03 11:31] vobu commented on #231
hi, whatever improves the day-to-day usage of `cfdestination` is fine with me!
so go ahead and PR it :)
ps: there's been an ongoing discussion on a similar topic in another issue: https://github.com/petermuessig/ui5-ecosystem-showcase/issues/185

[2020-06-03 16:16] Magoli1 commented on #231
@vobu @resitamas
To add some details here from the mentioned issue:
I thought a lot about how to enable the usage of the cfdestination middleware in conjunction with the approuter and XSUAA. In my eyes, when developing locally with XSUAA enabled services, the experience should be the same like when having the app deployed, to login and to be able to use the app, with the small but important differ

[2020-06-14 12:36] wmenge opened #236 "ui5-middleware-simpleproxy: x-csrf-token scenario"
The ui5-middleware-simpleproxy works like a charm for GET requests. However i have problems with PUT/POST requests to a C4C system which requires a valid csrf token.

From Postman my scenario works just fine: I can fetch and use a token for PUT/POST requests.

Also when I do not use the proxy and start Chrome without security, everything works fine out the of the box: ui5 libs fetch a token and us

[2020-06-16 13:53] vobu commented on #236
this might be due to the original headers not being retained: https://github.com/petermuessig/ui5-ecosystem-showcase/blob/739db55dbe930408e84b8ddea5f974cf41c9c856/packages/ui5-middleware-simpleproxy/lib/proxy.js#L85
@petermuessig we might have to merge the current `req`'s header via https://github.com/villadora/express-http-proxy#userresheaderdecorator with the original ones

[2020-06-17 15:33] wmenge commented on #236
Ok, I might take a stab at it. Is there any way to easily test this library?

[2020-06-17 18:38] petermuessig commented on #236
@vobu: AFAIK the preserveHostHdr is just about the host header itself not about all other headers which are sent with the request. Maybe some headers are filtered - I need to verify this. Maybe there is a filter for the X-* headers.

@wmenge : on the client-side (chrome) you see that the x-csrf-header is sent with the request? Or is the x-csrf-header lost as a result of the response of the GET req

[2020-06-17 18:44] petermuessig commented on #236
Here I found something:
https://stackoverflow.com/questions/21926062/csrf-token-not-working-in-nodejs-express

[2020-06-18 06:32] wmenge commented on #236
@petermuessig On the chrome side I actually see the header as I would expect it:
* On the first request, we pass "X-CSRF-Token: Fetch"
* In that response a token is returned
* In any subsequent request, that token is passed along with the request. However, the server responds with "x-csrf-token: Required"

If I leave out the proxy (by reducing the security settings of my browser), the token exchan

[2020-06-18 07:13] petermuessig commented on #236
Ahh, it could be the issue of secure cookies in an http context. This means we need to remove the secure flag in the cookie in the middleware when proxing https services. I will try to check asap - or if your want you can also look into this. I did a similar thing for the Java SimpleProxyServlet in OpenUI5: https://github.com/SAP/openui5/blob/master/src/testsuite-utils/src/main/java/com/sap/openui

[2020-06-22 11:50] petermuessig commented on #236
@wmenge : I created a PR to test whether this fixes your issue. Can you validate the PR #241 for your scenario?

[2020-06-22 16:25] HeneryHawk opened #242 "ui5-task-transpile - regeneratorRuntime is not defined"
Hi
i use the task ui5-task-transpile to compile my es6 code to es5.
Unfortunately the app doesn't start after compiling because of the following error

`regeneratorRuntime is not defined`

I have seen the comment in the `Main.controller.js` of the demo app
Are there any plans to implement the functionality?

Many greetings

[2020-06-23 07:25] vobu commented on #242
hi, i'm assuming you're using `async/await` in your code. this breaks the downport to ES5 because of the missing shim, as you experienced.
you can resolve this by using `regenerator-runtime` as a dev dependency and extending the build task. @lemaiwo has blogged about this and provided a how-to: https://blogs.sap.com/2019/08/28/ui5-tooling-custom-transpiler-babel-builder-extension-task/

hth, v.

[2020-06-23 18:58] petermuessig commented on #236
@wmenge: I released the 0.3.1 version of the simpleproxy middleware - you can try now - hopefully this fixes your issue.

[2020-06-23 21:20] nair-sumesh commented on #236
hi @petermuessig ,
The issue is still being raised in BATCH request.
![image](https://user-images.githubusercontent.com/12034160/85464118-457f6780-b575-11ea-9812-0b3f690caad7.png)

![image](https://user-images.githubusercontent.com/12034160/85463524-bbcf9a00-b574-11ea-8861-b96855f64aac.png)
![image](https://user-images.githubusercontent.com/12034160/85464521-bd4d9200-b575-11ea-8327-1d1462c3620b.pn

[2020-06-24 07:46] petermuessig commented on #236
Thanks @nair-sumesh for verifying the fix. I need to see whether I can setup a similar testing scenario in the next days to verify this. At least the csrf-token is being retrieved and included for the $batch requests.

[2020-06-30 09:59] HeneryHawk commented on #242
Hi Volker
thanks for your quick response.
Wouldn't it be cool to extend the existing transpile plugin to include `regenerator-runtime` in the build?

Regards
Simon

[2020-06-30 11:51] vobu commented on #242
ab-so-lutely. i'm sure both @petermuessig and me would appreciate you giving it a shot :)

[2020-06-30 11:52] petermuessig commented on #242
Y-E-S! :-)

[2020-06-30 18:43] lennart-m commented on #236
I just found out I have the same issue. First of all thanks a lot @petermuessig  for the new version 0.3.1, that fixed the first part of my problem.

It seems like the current version removes one semicolon to much.
In the debugger I got this:
![image](https://user-images.githubusercontent.com/20302675/86159405-9578a400-bb0a-11ea-87cb-600d383ae4ef.png)
I think the cookies should be replaced with `;

[2020-06-30 18:51] lennart-m commented on #242
Hi, have you considered using [babel-plugin-transform-async-to-promises](https://www.npmjs.com/package/babel-plugin-transform-async-to-promises) in order to support async/await?
I find the resulting syntax a lot more readable and it does not require any additional code like `regenerator-runtime`, especially after activating the option `inlineHelpers`.

[2020-06-30 19:00] lennart-m opened #246 "ui5-task-transpile - custom babel configuration"
Hi, I think it would help a lot to make the babel configuration used by the task configurable.
The configuration could be done in `ui5.yaml` and at runtime be merged with some defaults already implemented and then passed into babel:
https://github.com/petermuessig/ui5-ecosystem-showcase/blob/master/packages/ui5-task-transpile/lib/transpile.js#L29

Motivation: for some projects some assumptions abo

[2020-06-30 19:23] petermuessig commented on #236
Hi @lennart-m

thanks for your feedback - you are right with the removal of the semicolon - I missed that piece. Will you create a PR or should I fix this directly?

THX, Peter

[2020-07-01 00:24] lennart-m commented on #236
Hi @petermuessig

I just made the changes locally in branch `fix-secure-cookie-proxy` where you made the change for version 0.3.1. When pushing it says I'm not allowed to push (HTTP 403). Is there anything I have to do? Maybe is the branch locked and I have to create another one? Or do I have to be unlocked?
I'm not that experienced working with Github.
Thanks in advance.

[2020-07-01 05:28] vobu commented on #236
you need to fork the entire repo in your own github account. then create a a branch and push there. subsequently you can use the branch in your fork to issue a PR into this repo.
hth, v.

[2020-07-01 19:17] lennart-m commented on #236
Thanks a lot @vobu
I created #247 which fixes the part with missing semicolon.

What about removing other attributes `Domain` and `Path` as well?

[2020-07-01 19:37] lemaiwo commented on #242
Hi ,

Merging the transpiler with the regenerator into the transpiler of Peter is on my todo list ... need to make time to create a pull request for this! :)

Your proposal is a great idea! Automatically adding the regenerator runtime requires a lot of additional config in the ui5.yaml. This Babel transpiler for Async await might be the better solution!

Kr, Wouter

Op 30 jun. 2020 om 20:51 heeft

[2020-07-01 21:37] lennart-m commented on #246
OK I'm really sorry. I thought I tried everything but it seems like a file `babel.config.json` is picked up by the task automatically already. I guess this makes my suggestion irrelevant.
It also works for `ui5-middleware-livetranspile`.

[2020-07-01 21:47] lennart-m commented on #242
Hi @lemaiwo
This can be done by installing the dependency `babel-plugin-transform-async-to-promises` and creating a file `babel.config.json` in the project folder having the following content:
[code]
No changes to the task/middleware is required.

Though the default configuration by the `ui5-task-transpile` will be overridden once you have a non-empty configuration in `babel.config.json`.

Also th

[2020-07-02 05:20] vobu commented on #246
cool 😎
how about documenting the config option via a babel-file in the task’s and middleware’s `README.md` in a PR? (hint hint 😄)

[2020-07-02 06:26] petermuessig commented on #236
Reading the documentation for `set-cookie` this makes also sense IMO:
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie

If we do not remove them, the browser will just not send the Cookies back.

Will you also add this to your PR?

Big thx,
Peter

[2020-07-02 08:28] lennart-m commented on #246
I was a little bit too fast again. Only checked with `Component.js` and it seems that file is treated differently from the rest.
So for `Component.js` the babel.config.json` is read but for controllers it isn't.

I will do some more testing later on. Reopening the issue as the functionality is not yet available for other files.

[2020-07-02 23:01] lennart-m commented on #236
I added a commit to the PR that removes attributes `Domain` and `Path` from cookies.

Though the "SameSite" may also have to be removed in the future as chrome warns me about this:
![image](https://user-images.githubusercontent.com/20302675/86415483-7bd08b80-bcc7-11ea-961f-9c1042079b0a.png)
Not sure if I should remove those or set another value there.

[2020-07-03 06:00] petermuessig commented on #236
After reading the documentation about `SameSite` I think we can remove it as the default is `SameSite=Lax` or we set the cookie part to this value properly.

`SameSite=None` without `Secure` should be avoided. Will you also add this to the PR - that would be great! :-)

[2020-07-04 12:20] lboehm commented on #242
Hi @lennart-m,

from my point of view async generator functions aren't that important. Regular async functions are way more important. So this approach would absolutely meet my requirements. I would love to see this issue handled by this custom task.

Couldn't this be implemented similar to the `removeConsoleStatements` option, which is already implemented? I would prefer this approach, because it

[2020-07-05 21:00] lennart-m commented on #236
I added another commit, removing the SameSite attribute. I commented out a second version where the value of attribute `SameSite` is replaced with `Lax`, in case this will be necessary some time.

From my point of view it can be merged now.

[2020-07-06 10:00] #236 closed

[2020-07-06 10:03] petermuessig commented on #236
A new version of the middleware proxy has been released: `ui5-middleware-simpleproxy@0.3.2`

[2020-07-08 14:55] resitamas commented on #231
Hi @vobu,
I've decided to go on with my second idea and improving the simpleproxy instead of the cfdestination. The PR for this: https://github.com/petermuessig/ui5-ecosystem-showcase/pull/250

[2020-07-11 06:03] petermuessig commented on #10
GH pages are used for the Task/Middleware index

[2020-07-11 06:03] #10 closed

[2020-07-21 23:14] lennart-m commented on #246
Again I have to reject my previous statement 🤨

I have no idea what I did the last time but it seems to function as stated in my [first comment](https://github.com/petermuessig/ui5-ecosystem-showcase/issues/246#issuecomment-652659092). Sorry for this mess.

In fact it suffices to add the file `babel.config.json` in order to extend the babel configuration. I successfully implemented this in several

[2020-07-22 07:23] #246 closed

[2020-07-24 19:38] vobu commented on #242
this is closed via the double-team of #260 and the (soon to be merged) #266 - thus closing this

[2020-07-24 19:38] #242 closed

[2020-07-31 13:16] petermuessig opened #278 "ui5-middleware-servestatic"
Relative paths don't work properly on Windows machines for the servestatic middleware. Make the path absolute and add some logging for servestatic.

[2020-07-31 13:25] nair-sumesh commented on #278
Thanks a lot @petermuessig for looking into this

[2020-08-01 14:34] dracovoldy opened #279 "Unable to install live-reload middleware"
Fails to install live-reload middleware on Ubuntu 18.04 npm@6.14.5, node@v12.18.2

npm WARN tarball tarball data for @sap/node-jwt@1.6.11 (sha512-Wr3ARQWQAWoZqVF3fM/s1z+B5n9Ne+4l/BBncb8OckwYB3P6t3aV0CjaA35dcLo4vLG8aT/Lf+E7c0Lga3e6KQ==) seems to be corrupted. Trying one more time.

[2020-08-02 05:42] vobu commented on #279
sounds more like a repo/local node issue to me.
try
- reinstalling your modules in your proj: rm -rf node_modules && yarn
- checking what repo you use, either in your proj's .npmrc or in the global ~/.npmrc

[2020-08-03 07:07] petermuessig commented on #279
Please also delete the `yarn.lock` if the issue still persists - I will update the yarn.lock today - maybe this issue is related to moving the @sap dependencies from npm.sap.com to npmjs.com

[2020-08-03 07:44] #278 closed

[2020-09-01 09:19] jorgt opened #292 "Simple proxy adds an ETag, "normal" service does not - concurrency error"
Hi Peter,

Using the simple proxy after separating UI and Backend results in some cases in a repeated error on the odata services (this was with the V2 adapter)
[code]

I think I tracked it down to the addition of an ETag on the request, and the responding `if-none-matched` header on subsequent calls. The below GIF is a bit crap but the only difference is the ETag and the subsequent `if-none-match

[2020-09-01 09:40] whitenrock opened #293 "ui5-middleware-simpleproxy: Increase payload limit"
## Expected Behavior
It should be possible to send requests to the server whose payload is greater than 1MB (e.g. for a file upload)

## Current Behavior

The default limit of 1MB of the internal _express-http-proxy_ component is apparently used:
https://www.npmjs.com/package/express-http-proxy

## Context
- UI5 Module Version : `2.2.6`
- Node.js Version: `14.4.0`
- npm Version: `6.14.5`
- OS/Plat

[2020-09-06 15:46] vobu commented on #279
closing this as there was no reaction from the original author > 4 weeks

[2020-09-06 15:46] #279 closed

[2020-09-07 13:39] vobu opened #302 "document flatten library task"
at a minimum:
- `README.md`
- `docs/index.md`

[2020-09-10 11:10] petermuessig commented on #292
Hi @jorgt ,

I will take a look into this issue the next days... Thanks for your suggestion... :-)

BR,
Peter

[2020-09-11 05:37] petermuessig commented on #302
@matz3 can you add you custom task to the documentation?

[2020-09-16 12:33] #302 closed

[2020-09-18 03:46] chrismills opened #309 "ui5-task-flatten-library not on NPM"
Hi There,

Was keen to checkout the ui5-task-flatten-library but looks like its not on npm? The link provided in the project documentation leads to a 404 (https://www.npmjs.com/package/ui5-task-flatten-library)

Thanks

Chris

[2020-09-18 06:57] vobu commented on #309
yep, that's right, @petermuessig is behind schedule 😂

[2020-09-18 06:59] petermuessig commented on #309
Grml - just back from vacation - I promise a delivery for today evening... 😢

[2020-09-18 08:46] chrismills commented on #309
Oh no stress @petermuessig whenever is fine. Thanks :)

[2020-09-20 07:25] petermuessig commented on #309
The module is now on NPM with version 0.2.0: https://www.npmjs.com/package/ui5-task-flatten-library

[2020-09-20 07:25] #309 closed

[2020-09-25 10:43] bkrrrr commented on #292
I think I came across the same problem with cap(OData v4) while upgrading 2.3 -> 4.1.
Something happens to the payload while proxying and the ui5 requestor can't parse it afterward anymore.

The error is pointing to etag

``
Uncaught TypeError: Cannot create property '@odata.etag' on string '--batch_id-`
``
![image](https://user-images.githubusercontent.com/14314310/94257991-7a140e00-ff2c-11ea-811

[2020-09-25 16:31] petermuessig commented on #292
Hi @bkrrrr ,

could this be related to https://github.com/petermuessig/ui5-ecosystem-showcase/issues/293 - the limit is quite low by default. I am about to add a parameter to increase the payload by configuration.

Cheers,
Peter

[2020-09-25 16:40] petermuessig commented on #292
Hi @jorg ,

a similar issue had been reported to the `express-http-proxy` and the workaround there was also to remove the `etag` from the response: https://github.com/villadora/express-http-proxy/pull/463 - but I will research a bit more...

BR, Peter

[2020-09-25 19:41] timostark opened #313 "Documentation / Usage of H2"
Hi Peter,

I guess for most users it is clear - still maybe it should be added to the documentation that with Chrome 81 (SameSite Attribute - see https://www.chromium.org/updates/same-site ) the ui5-middleware-simpleproxy wont work correctly for Batch requests, for the same reason mentioned in #236 (csrf-token validation fails).
The solution is to simply use https using `ui5 serve --h2 `(SameSite=

[2020-09-28 20:09] petermuessig commented on #313
Hi @timostark ,

thanks for the feedback, good to communicate this behavior! If you want you can add this information to the `README.md` of the ui5-middleware-simpleproxy. Otherwise I can try to do this soon.

Thanks and best regards,
Peter

[2020-09-29 11:19] #293 closed

[2020-09-29 11:53] petermuessig commented on #292
@jorgt - the PR removes the ETag from the response - maybe this is better but even hacky than your suggestion above.

[2020-09-29 12:08] #292 closed

[2020-10-12 14:28] DenisTis opened #318 "CORS issue with ui5-middleware-simpleproxy"
Hi all, I am trying to use command "ui5 serve"
with the ui5-middleware-simpleproxy. Here is my ui5.yaml:

[code]
This is my controller code, which loads the model:
[code]

However, once I try to load model I get error:
`Access to XMLHttpRequest at 'https://services.odata.org/Northwind/Northwind.svc/$metadata' (redirected from 'http://localhost:8080/northwind/$metadata') from origin 'http://localho

[2020-10-13 08:10] vobu commented on #318
Hi, you need to adjust 2 things:
1. serve your app via https locally: `ui5 serve --h2` (follow the auto-generation of certs in terminanl)
2. adjust your baseUri to be `https`:  `baseUri: "https://services.odata.org/Northwind/Northwind.svc/"`
hth, v.

[2020-10-13 08:22] DenisTis commented on #318
Hi Vobu,

thanks for quick answer. I tried to install certificate and get first prompt:
[code]

There is no dialog being opened (I tried to run it as administrator, but still no dialog).
Is it because of openssl?
Regarding openssl - should it be installed as global npm package, or from www.openssl.org?

Best regards,
Denis

[2020-10-13 08:56] vobu commented on #318
I take it you're on Windows. So please install openSSL, boot the 'puter (so your env gets udpates) and try again - then the certs should be generated, imported and you're (hopefully) good to go.

[2020-11-11 18:28] nbmedikonda opened #337 "ui5-task-stringreplacer: Cannot find module 'lodash.escaperegexp'"
taskRepository: Failed to require task module for ui5-task-stringreplacer: Cannot find module 'lodash.escaperegexp'

[2020-11-12 08:36] vobu commented on #337
way too few information so that we could help w/ anything.
if still relevant, please list
- your env, incl OS + Node.js version
- ui5.yaml

[2020-11-12 15:18] nbmedikonda commented on #337
@vobu - i can see this in 0.5.1.it was added by peter today morning

[2020-11-12 15:18] #337 closed

[2020-11-12 17:32] nbmedikonda opened #339 "stringreplacer - prefix configurable"
**ui5-task-stringreplacer**

its not an issue but looking for this new option.is it possible to make the prefix configurable from ui5.yaml file?

I tried the below command  from package.json but it will not take the dot.In general all the env variables normally will have underscore(NODE_ENV) or it should start with stringreplacer_

"build": "cross-env stringreplacer.ENV=dev  ui5 build -a --clean-d

[2020-11-16 06:38] petermuessig commented on #339
Hi @nbmedikonda ,

thanks for opening the issue here to point that out. If you are interested in contributing to the ui5-ecosystem feel free to do so. You can create a PR and put it to @vobu, @TheVivekGowda or me for review.

Best regards,
Peter

[2020-11-18 17:44] texttechne commented on #318
Hi, ran into this myself thanks to the docs ;-)

It's absolutely sufficient to change from `http` to `https`, then [this line](https://github.com/petermuessig/ui5-ecosystem-showcase/blob/master/packages/ui5-middleware-simpleproxy/lib/proxy.js#L120) will correctly set the appropriate option for express-http-proxy.

However, the docs should be fixed to prevent that anyone else is running into the sa

[2020-11-18 18:08] texttechne commented on #1
Hi @petermuessig,
is it really possible to use this task / plugin in order to leverage TypeScript?

I'm a bit sceptical because of [this line](https://github.com/petermuessig/ui5-ecosystem-showcase/blob/master/packages/ui5-task-transpile/lib/transpile.js#L54) which exclusively globs for js files, not ts files.

I would also expect the following limitations:
* no import statements
* no ES6 classes

[2020-11-19 07:23] petermuessig commented on #1
Hi @texttechne ,

no, this task is just to transpile ES6 code into ES5 code using Babel. It is not made for transpiling TS code to ES code.

Small update from UI5 inside: we are still working already on a general the TypeScript enablement for UI5. Therefore we started to actively push [@sapui5/ts-types](https://www.npmjs.com/package/@sapui5/ts-types) already to public NPM. Those types are generate

[2020-11-19 08:03] #318 closed

[2020-11-19 08:04] petermuessig commented on #318
@texttechne good point to make me again aware of this issue. I just now noticed the missing https in the proxy configuration above! Snippet is updated now and added a hint section.

[2020-11-23 20:29] Shingaz commented on #1
We are transforming our TS with Babel as well. It would be nice if `transpile` and `livetranspile` could handle `.ts` extensions.

[2020-11-24 07:05] petermuessig commented on #1
I will see what is possible, I'll try my best to look into that soon.

[2020-11-24 15:37] texttechne commented on #1
Hi @petermuessig ,

wow, what a comprehensive answer! Thank you very much!!! These were exactly the pointers I was lacking.
Especially the mentioned Babel plugin is brilliant: It does the heavy lifting for using a modern syntax and still achieves backwards compatibility. And it plays well with your middleware (no surprise there :-)).

So I've tried to get this running and succeeded. My steps were:

[2020-11-24 16:39] texttechne opened #359 "Extending ui5-middleware-livetranspile to support different file types (e.g. TS support)"
Hi,

I would like to propose a change to make this middleware more generic. Currently it is restricted to consume `.js` files and I do at least require the consumption of TS files. I think this is the last step to make the middleware a full-blown transpiler enabling all Babel features.

The change itself: Switch from static lookup ([`resource.byPath`](https://github.com/petermuessig/ui5-ecosystem-

[2020-11-24 19:34] vobu commented on #359
hi, all of your suggestion sound good and are fine-by-me™ 😆
and definitely please work on the existing `livetranspile` middleware, don't add more animals to the zoo!
couple of remarks:
- configureable file extension with `js` default is fine, but honestly, what other than `.{js,ts}` is out there?
  -> why not just hard-wire it to `js|ts`?
- the point about the babel dependencies i'm not really get

[2020-11-24 22:35] htammen commented on #359
@vobu there are a lot of possible script languages one could use (https://github.com/jashkenas/coffeescript/wiki/List-of-languages-that-compile-to-JS). So I think it's always good not to hard-wire the extensions.

[2020-11-24 22:58] htammen commented on #1
Hi @texttechne,
great to see that TS support evolves and great that you shared your findings.
Thank you

[2020-11-25 06:54] petermuessig commented on #1
Hi @texttechne ,

yes exactly, this is how I imagine to get that TypeScript support out of the doors for UI5 development. Adding the module declarations to our ts-types, removing some of the unwanted APIs, correcting the issues in our JSDoc, deciding on one or the other special cases how to expose them in TypeScript are the work we are currently doing to avoid that everyone has to do pimp the type

[2020-11-25 08:16] texttechne commented on #359
The feature request is to allow patterns instead of using the hardwired ".js" extension. For example, when supporting TypeScript, it makes sense to allow for JS **and** TS consumption (pattern: ".{js|ts}"), then users can opt in to TS support file by file. And as soon as patterns are supported, they can be made configurable => no hardwiring necessary

Regarding the dependency question: I realize n

[2020-11-26 11:55] mjturner commented on #339
I'd like to second @nbmedikonda's request, perhaps even changing the default from `.` to `_` as separator. A dot is [not a valid character](https://superuser.com/questions/495991/how-do-i-set-an-environmental-variable-with-a-dot) in a shell environment variable and trying to set such variables dynamically does require jumping through hoops (eg, using `env`).

[2020-11-26 21:20] petermuessig commented on #339
@mjturner - ACK, @TheVivekGowda - what do you think? It is your contribution - would you also be fine to adopt this? And then make it configurable as well?

[2020-11-26 21:24] petermuessig commented on #359
@texttechne @vobu - you are too fast for me. I'll try to follow up on this over the weekend. I will also check the PR. THX...

[2020-11-27 15:51] texttechne commented on #359
@petermuessig @vobu yeah, that was probably too fast 😀

One thing we should discuss and which is not implemented correctly: Handling of multiple files for the same pattern. For example: Pattern = ".{js|ts|elm}" matches Component.js, Component.ts and Component.elm
Since only one file can be consumed: which one?

Status Quo:
* In the middleware I chose to do the following:
  - prefer the JS file & l

[2020-11-27 16:06] texttechne opened #372 "Consistent Code Formatting of Source Code"
Hi,

having written the first PR, I must confess, that I've had problems to conform to the different code styles of the different packages.

Hence I would like to propose the following changes:
* decide on one code style 😄 (by the way, I prefer semi-colons at the end of the statement 😉)
* install & configure prettier & eslint in root package
* reformat all packages and commit (of course, this inte

[2020-11-27 16:10] vobu commented on #372
*me opens the gate*
let the trolls roll in ;)

[2020-11-27 17:18] petermuessig commented on #372
OMG, you said the bad words, @texttechne  => **semicolons**! => 🏃 => @vobu will find you ... 🤣

Till now, we loved the anarchy in our repository and we believe in being the better formatters... 😄 But recently also @vobu added `prettier` and with that we have maybe started the discussions - the trolls are already in...

I am open to discuss - but honestly, I am not a real fan of it... Maybe I just

[2020-11-27 17:20] petermuessig commented on #359
This is indeed a good point. A precedence could be derived from the pattern, let's say the order of the extensions is important, but this might not be that trivial to determine. First I thought, it might be better to have different plugins for different purposes like JS transpile, TS transpile, but it is all Babel. BTW: what does Babel do in those cases? Is there some configuration foreseen for th

[2020-11-27 18:22] texttechne commented on #359
Actually it's not Babel determining which order files get transpiled => the files are fed file-by-file to Babel.
It is `DuplexCollection` or `AbstractReader` from UI5 which is responsible 😄

So the question is: If I specify ".{js,ts,elm}" in which order will `AbstractReader` return the file resources? Is the order guaranteed?

On the other hand, less is more. Less features, less code, less mainten

[2020-11-27 19:12] vobu commented on #372
hell yeah, i _will_ find you 🤣✌️

[2020-11-27 21:07] petermuessig commented on #359
As I am a fan of keep it simple, I like your last suggestion - it even doesn't make sense to have all 3 files here which would cause nevertheless a conflict... 👍

[2020-11-28 14:18] texttechne commented on #372
da habe ich ja ein Faß aufgemacht 🤣

Ok, I should have asked before assuming. I did see chaos, but actually only package `ui5-task-transpile` is in some disarray. Apart from this package all others adhere to their own style definition. The good news: it essentially boils down to the following basic style definitions:
[code]

So instead of defining a `.prettierrc` on the root level, it must be defi

[2020-11-30 07:34] vobu commented on #372
amen to that.
in fact, sir peter and me were already discussing on a "ui5 prettier" config, aligned both w/ best practices and the ui5 guys code formatting recommendations.
might get born over the holidays 🎄 ☃️

[2020-11-30 13:32] vobu commented on #38
resolved via #338

[2020-11-30 13:32] #38 closed

[2020-11-30 14:52] vobu commented on #9
done via #338

[2020-11-30 14:52] #9 closed

[2020-12-12 13:07] Szbuli opened #397 "multiple ui5-middleware-simpleproxy"
I would like to simulate scp neo destinations for local development.
We have two destinations in the cloud, which means i have to have two ui5-middleware-simpleproxy.

[code]

If i set the username+password in the yaml, everything works fine. But i would rather not, as ui5.yaml is not ignored in git.

I would like to set the username + password as an env variable, but the problem is the two ui5-mi

[2020-12-15 20:14] texttechne commented on #397
If you don't specify username & password, your browser will prompt you for your Basic Auth credentials.
The entered credentials are then stored in the browser.

Comes close to using env variables regarding the effort => more or less a one-time configuration.
Would that serve as a workaround?

A really cool solution would be to use `env:myUsername1` as it is offered in the [deploy-to-abap task of f

[2020-12-18 09:49] jbm1991 opened #419 "ui5-task-zipper error when zipping with ushell library added"
## Expected Behavior
Can run the ui5-task-zipper as part of the build process without it failing, when the ushell library is added

## Current Behavior
when running the ui5-task-zipper if the library ushell has been added the following error occurs, preventing the creation of the zip until that library is removed. This was previously working however I updated my UI5 version and UI5 CLI versions to

[2020-12-18 13:49] Kritten opened #424 "Undocumented: Babel Polyfill is required for ui5-task-transpile"
As stated in this [blog](https://blogs.sap.com/2019/08/28/ui5-tooling-custom-transpiler-babel-builder-extension-task/) the ui5-task-transpile requires the babel polyfill (or regenerator-runtime and core-js in more recent versions).
This is not stated in the documention/README of ui5-task-transpile but I think it should be or am I missing something?

[2020-12-23 17:26] lennart-m commented on #372
@vobu are there any concrete plans for this? I'm asking because I also have something like this on my to-do list. But I'm thinking about a specific prettier plugin that also correctly formats XML bindings... probably not that easy as the UI5 BindingParser is probably not usable for this.
I saw there is https://github.com/marceloschreiber/prettier-plugin-ui5view but it doesn't seem to do very much.

[2020-12-23 19:26] texttechne commented on #372
@lennart-m it's just XML, isn't it?
Then [@prettier/plugin-xml](https://github.com/prettier/plugin-xml) should do the trick.

[2020-12-24 07:37] petermuessig commented on #424
Hi @Kritten ,

The `ui5-task-transpile` task is pretty primitive - we did not document any of the required polyfills yet. In general, it might be useful to understand which ES6+ language features will lead to custom code and which ES6+ language features can be used without extra code. Especially for OpenUI5/SAPUI5 we have already the ES6 polyfills included for most of the APIs and this could be do

[2020-12-24 07:53] petermuessig commented on #397
A concept for defining the env variables in the ui5.yaml which are assigned to the values is something we have also discussed for PR [#180](https://github.com/petermuessig/ui5-ecosystem-showcase/pull/180). Using something like `${env.VAR_NAME}` was my suggestion here which is in sync with other build tools.

[2020-12-24 08:01] petermuessig commented on #419
Hi @jbm1991 ,

The issue seems to be related to the resources excludes which removes the test-resources from the UI5 Tooling workspace and thus the task cannot resolve it from the workspace:

[code]

Can you try to remove the `- "/test-resources/**"` from the builder section of the `ui5.yaml` and run the build again?

But definitely the zipper should not fail if the resource cannot be found and re

[2020-12-24 11:57] IObert commented on #419
Interesting issue. I'll investigate it in the new year. I would recommend using the "keepResources" option as a temporary fix for now: <https://github.com/petermuessig/ui5-ecosystem-showcase/blob/master/packages/ui5-app/ui5.yaml#L39>

[2020-12-24 13:27] lennart-m commented on #372
@texttechne well, for the XML part it should be okay to use plugin-xml, though I'm not very satisfied with the indentation produced by this plugin; it seems quite random.
But it would also be helpful if the XML binding could be automatically formatted. Maybe not for simple value bindings, but if you have formatters and multiple parts then it's a bit tedious to do the formatting yourself.

[2021-01-04 12:27] IObert commented on #419
I found and fixed the issue. The next version should include the fix. Thanks for reporting this issue!

[2021-01-04 15:32] jbm1991 commented on #419
brilliant, thanks for the quick response!

[2021-01-04 16:01] #419 closed

[2021-01-04 21:18] marcelschork opened #428 "Simpleproxy: Configuration of url parameters"
For sending OData requests to SAP Netweaver multi client systems the url parameter "sap-client" needs to be specified, e.g.

`https://my.sap.system/sap/opu/odata/sap/z_sample_service/$metadata?sap-client=206`

By now it's not possible to configure url parameters via the configuration object. Therefore development and testing on multi client systems is not really convenient.

My suggestion is to ex

[2021-01-05 06:14] vobu commented on #428
proxied url params via the config in ui5.yaml sound good to me!
-> PR most welcome!

[2021-01-05 13:35] attila-boros opened #438 "ui5-middleware-stringreplacer fails to start"
The ui5-middleware-stringreplacer fails to start with the following error:

_middlewareRepository: Failed to require middleware module for ui5-middleware-stringreplacer: Cannot find module 'minimatch'_

The minimatch module is not declared in package.json "dependencies" section. I will submit a PR.

[2021-01-05 18:05] jbm1991 opened #441 "'keepResources' flag doesn't seem to work?"
Hi,

Even though I have specified `keepResources: false` in the ui5.yaml configuration, the resources are still included in the zip file. I've tried setting it to true/false and removing it all together but it appears to be always ignored.

ui5-task-zipper: 0.4.1
@ui5/cli: 2.7.1

ui5.yaml
[code]

[2021-01-06 08:07] attila-boros commented on #438
The issue was fixed with PR #439.

[2021-01-06 08:07] #438 closed

[2021-01-06 10:13] petermuessig opened #443 "yarn test:ci runs into error: Cannot read property 'waitForUI5' of undefined"
[code]

[2021-01-06 10:13] petermuessig commented on #443
@vobu  do you know where this is coming from?

[2021-01-06 10:50] IObert commented on #441
Can you add a screenshot of the files in the dist folder?
The content of the zip should be the same, independent of the flag. It does change the files "next" to the zip file in the dist folder.

[2021-01-06 11:08] jbm1991 commented on #441
Sure, below is an image of the dist folder after I run the build command with keepResources set to true. This has made me think though that perhaps I am getting confused with what that parameter is for. I thought that parameter was for keeping the 'resources' directory within dist folder/zip file, but now I see that actually it's referring to the resources used to create the zip file.

I think thi

[2021-01-06 11:13] jbm1991 commented on #441
Sorry was a bit eager with the comment button there. The thing which confuses me is that the resources folder in the dist folder is tiny as it only contains 2 files, but then in the zip file it contains all the ui5 libraries specified in my ui5 yaml file and therefore makes my zip file huge. This is particularly problematic when deploying to the html5 apps repo and as a result I've had to downgrad

[2021-01-06 11:58] IObert commented on #441
I see the confusion with the name "keepResources" and I'd be open to suggestions for new names to make this more clear.
I am aware that the ui5 tooling builder still creates a tiny resources folder (that's an "[issue](https://openui5.slack.com/archives/C0A7QFN6B/p1607962476080000?thread_ts=1607077647.075000&cid=C0A7QFN6B)" of the ui5 tooling because it partially ignores the "omit flag") but let's

[2021-01-06 13:00] vobu commented on #443
will take a look laters. have a hinge.

[2021-01-06 13:26] jbm1991 commented on #441
I agree, let's ignore the first point.

On the second point though, that's what confusing me - where is the resources folder coming from as to my knowledge I'm not asking for it to be generated? If there is something in my configuration which is telling it to generate the resources then please do let me know. I appreciate though that I'm quite unfamiliar with these tools having only really started

[2021-01-06 13:27] jbm1991 commented on #441
also on the renaming of "keepResources", even something like "keepBuildResources" or "keepSource" or something like that I feel would be better. But then if it's only me that's confused by this, I think the error is with me rather than the tooling :)

[2021-01-06 15:47] IObert commented on #441
`-a` is the shortcut for `--all`, are you using this option?

No worries, we all started at one point :)

[2021-01-06 16:08] jbm1991 commented on #441
Nope I'm not using that option, my build command is `ui5 build --config=ui5.yaml --clean-dest --dest dist --include-task=generateManifestBundle generateAppPreload`

[2021-01-07 06:02] #443 closed

[2021-01-07 09:17] vobu commented on #372
just publicly FYI: no timeline (and currently also no plans as in "to do", "steps", ...) yet.
@texttechne was so kind to lay groundwork in #374, but given that we (the community) have not aligned features, requirements and goals with the UI5 core team (yet), I'm hesitant to move forward -> probably a good topic for a community-call or similar @petermuessig?

[2021-01-08 11:18] IObert commented on #441
I can reproduce the issue now and I see what the problem is. You are right, it seems like the zipper always includes the resources. I assumed that the ui5 tooling wouldn't expose the resources internally if that's not the case. I'll need to sync with the guys from the ui5 tooling on this one.

[2021-01-08 11:45] jbm1991 commented on #441
Thanks for confirming @IObert glad to know I'm not going mad!

[2021-01-12 13:45] matz3 commented on #441
The `dependencies` reader gives access to all dependency resources independently from the `--all` option. This is expected behavior and required for tasks such as the theme build to import dependencies.

To only include files from the current project you should just use the `workspace` API.

According to https://github.com/petermuessig/ui5-ecosystem-showcase/pull/385 this has been changed to inclu

[2021-01-13 04:18] iggycoder opened #446 "[FIX] ui5-middleware-cfdestination"
Please bump version of SAP app router to version 9.0.1. It fixes an issue with web socket subprotocol handling. And it would be very helpful to have this working for local development as well.

Thank you.

[2021-01-13 08:27] #446 closed

[2021-01-13 10:37] IObert commented on #441
Thanks for confirming @matz3. If I get this right, my task has no way to determine whether the dist folder will include the resources or not.  The `workspace` API will never contain the `resources` and the `dependencies` will always include them (independent of the `--all` option), correct?

[2021-01-13 11:00] matz3 commented on #441
Yes, there is no reliable way to detect in a task whether the `--all` option is active.
So right now I'd suggest to add a configuration to the custom task to solve this.

[2021-01-13 11:45] IObert commented on #441
Ok, thanks.
I'd suggest the following two new config options then and to get rid of `keepResources` as it created some confusion.

- onlyZip: `true|false`
Set this to true if you also want to generate the unzipped resources in the `dist` folder. Otherwise, it will only create the zipped archive.

- includeDependencies: `true|false`
Set this to true if you also want to include the dependencies (UI5

[2021-01-13 14:12] jbm1991 commented on #441
@IObert that sounds perfect to me 👍

[2021-01-14 16:15] Shingaz commented on #246
@lennart-m It does not work on my side. Before I was compiling everything with Babel into `webapp` before serving it and if I keep the same Babel config (`.babelrc.js` or `babel.config.json`) at the root of the project I got compilation errors.

My livetranspile config:
[code]

[2021-01-15 09:42] #441 closed

[2021-01-15 16:18] Shingaz opened #454 "Livetranspile: how to use file based Babel config"
Is there something special to do to use the default Babel config at the root of the project?

It doesn't work for me as the `filename` given in the Babel options does not contains the full path, hence the root Babel config (`.babelrc.js` or `babel.config.json`) is not taken in account:
[code]

Also, how can we pass an empty Babel config in the middleware to configure it with a `.babelrc.js` only?

[2021-01-17 21:40] petermuessig commented on #428
Fixed with #440

[2021-01-17 21:40] #428 closed

[2021-01-17 21:40] petermuessig commented on #428
Great contribution! 👍

[2021-02-07 11:19] petermuessig commented on #372
@texttechne - as a first step I will go ahead with the `.editorconfig` this is good to have. I will also check-out `prettier` a bit more in detail...

[2021-03-05 08:24] iggycoder opened #503 "ui5-middleware-cfdestination - auth configuration bug"
There seems to be a bug introduced in PR #492. The newly introduced `ui5.yaml` configuration `authenticationMethod` is not being evaluated in the routes as far as I can tell. As I understand, this configuration should overwrite the `xs-app.json` configuration of the app router. Right now my setup is not working.

Let me explain:

I did setup route authentication in my app router's `xs-app.json`. T

[2021-03-08 07:52] vobu commented on #503
Without having validated the bug, you bring up the proverbial thorn in my side - there are no tests for this and all other `ui5-middleware-*` and `ui5-task-*`. That's why we serve ourselves these kind of regressions, grmpf, mea culpa, mea maxima culpa. I'll take this as a 🥾 to finally introduce a testing mechanism.

@d-sooter could you please take a look meanwhile and help out @iggycoder?

[2021-03-08 08:09] iot-cpars commented on #503
@iggycoder can you provide a sample of you config? We are using it locally as well without any probems. The default is none as well so you shouldnt need to pass anything if you dont want auth.

Kind regards

[2021-03-09 23:39] lennart-m commented on #454
Hi, sorry for the late reply. Is this related to your comment [here](https://github.com/ui5-community/ui5-ecosystem-showcase/issues/246#issuecomment-760299437)?
I don't really understand what the issue is... can you maybe give an example?

[2021-03-10 10:03] petermuessig commented on #503
Just published version 0.4.1 right now:
https://www.npmjs.com/package/ui5-middleware-cfdestination

Please verify whether this fixes the issue.

[2021-03-10 11:31] iggycoder commented on #503
@iot-cpars Please let us know if my changes affect your setup in any way.
@petermuessig Thanks for the fast release.

[2021-03-10 11:42] iggycoder commented on #503
just as a reference - my config which only works since my bugfix:
`xs-app.json`
[code]
`ui5.yaml`
[code]

[2021-03-10 11:58] iot-cpars commented on #503
Sadly i think your fix brought in some issues. It should be working just fine as is we use both and it is working now you brought in a new issue as sometimes the authenticationMethod is undefined.

[2021-03-10 12:07] iggycoder commented on #503
@iot-cpars Based on the [approuter reference for routes](https://www.npmjs.com/package/@sap/approuter#routes), you should define authenticationMethod anyways. So, just define it as `none` and you're good to go :)

[2021-03-10 23:54] vobu opened #508 "embedded app router doesn't recognize workingDir properly"
doublecheck `approuter.start({ workingDir: "not applied" })`

[2021-03-19 09:45] attila-boros opened #510 "ui5-middleware-livereload: Live reload doesn't work with HTTP/2"
If I start the UI5 server with the --h2 option, live reload stops working. A GET request is sent to https://localhost:35729/livereload.js?snipver=1, but it fails with ERR_SSL_PROTOCOL_ERROR. The issue seems to be lack of support for HTTPS in ui5-middleware-livereload.

[2021-03-19 09:52] attila-boros commented on #510
In ui5-middleware-livereload/lib/livereload.js, the live reload server is created this way:

[code]

This will always use HTTP. I will add support for HTTPS and submit a PR.

[2021-03-22 19:56] #510 closed

[2021-03-30 02:55] #503 closed

[2021-04-20 11:50] Smux opened #515 "ui5-middleware-cfdestination not working properly?"
Scenario:
I have a Fiori application (that should run on Cloud Foundry with managed app router) that uses the UI5 tooling. I added the cfdestination middleware like described in the npmjs readme and I can successfully add a URL for my "backend" destination.
![image](https://user-images.githubusercontent.com/19520637/115390363-71439c00-a1de-11eb-94ac-97c256449234.png)

However, this only works with

[2021-04-23 07:04] vobu commented on #515
on first look, this sounds more of an SSL certificate issue btw your computer and BTP's xsuaa.
i've seen successful configurations just like yours - have a destination that's protected by xsuaa; upon hitting the respecitve url, browser redirects to login screen, auth, ...
do you have a `default-env.json` in `/` with the required props for the xsuaa?

[2021-04-23 11:37] Smux commented on #515
I now tested it with a new and clean setup. The URL of my xsuaa protected node app is resolved properly, however I am receiving the error "Unauthorized" which is the response if no valid JWT was provided in the request.

As I have an mta application and start the UI5 app from the root of the mta project, I was not sure where to put the default.env.json so I tried all possible locations and even co

[2021-04-23 11:38] Smux commented on #515
Btw. yes in the default-env.json I have provided the VCAP SERVICES of another approuter that has bound the same xsuaa instance so it should all be fine.

[2021-04-23 11:45] Smux commented on #515
![image](https://user-images.githubusercontent.com/19520637/115866539-14dcb880-a43a-11eb-9dba-136d4739abeb.png)
![image](https://user-images.githubusercontent.com/19520637/115866567-21611100-a43a-11eb-8b88-e537779a8d96.png)
![Uploading image.png…]()

[2021-04-23 11:54] Smux commented on #515
And my github repo:
https://github.com/Smux/ui5-cf-mw-test

[2021-04-26 05:51] timostark opened #517 "ui5-middleware-simpleproxy Enhancement"
Hi All,

Quick question regarding "ui5-middleware-simpleproxy".
My Situation:
- Multiple custom UI5 libraries hosted on central server (using static web hosting - no npm consumption)
- UI5 apps are running in launchpad
- Middleware-Simpleproxy is used to access the ui5 libraries hosted on the server

Problems:
- Files of custom libraries are loaded using ".js" instead of "-dbg.js", giving a hard t

[2021-04-26 05:59] vobu commented on #517
can you hear that UI5 mob chanting "PR PR PR"!? yeah, me too 😁

[2021-04-28 08:34] stefania-santimbrean opened #518 "[ui5-middleware-cfdestination] Request to approuter when accessing index.html"
Hello,

Firstly thank you so much for the tooling and middleware. I'm excited to develop UI5 using VSCode!

I'm trying to make a local setup for developing a UI5 app in VSCode which is served with approuter and is part of a Multi-target CAP application deployed on Cloud Foundry. The trick is that I need the authentication with XSUAA.

Is there any way when I access http://localhost:8080/index.html

[2021-04-28 08:39] vobu commented on #518
hi, absolutely valid use-case! by chance, hacked that into existence recently together with Ronnie Sletta (Twitter: @rsletta) - try contacting him, i'm sure he'll share stuff :)
would be excellent if you could post an MVP/code sample for that here in this thread for other to reference!

[2021-04-28 08:41] vobu commented on #515
hi, thanks for providing that detailed feedback and code sample. and sorry for replying so late! just wanted to let you know that this is still on my radar, but time is scarce these days...i'll get back to you, promised, but can't put a time line on it.

[2021-05-03 09:57] Smux commented on #515
hello vobu,
no worries, i understand that. thanks for taking a look into this issue.

[2021-05-03 16:50] stefania-santimbrean opened #519 "[ui5-middleware-cfdestination] with multitenant approuter possible?"
Hello,

I am wandering if the `ui5-middleware-cfdestination` is usable in a scenario where the deployed approuter is in multitenant mode?

The only way I found possible to run the multitenant approuter locally was by extending it.
I have `server.js` with the following contents:
[code]
And start it in the Terminal with: `node server.js`.

Is it possible to do this also when using the `ui5-middlewar

[2021-05-10 21:02] rsletta commented on #518
I have created a clean repository over at https://github.com/rsletta/ui5-vscode-local, that includes the tweaks as I recall them. There are some issues atm preventing it from running correctly, that I'm currently working on, but the configuration is basically identical to the working repository.

[2021-05-11 06:02] stefania-santimbrean commented on #518
@rsletta thank you so much!

From what I see in the repo I assume that from `xs-app.json` this route should be what I'm looking for:
[code]

I tried to adapt to my folder structure:
[code]

But it's not working :(  @vobu do you have any idea what might be missing?

Thanks so much!

[2021-05-12 06:53] vobu commented on #518
hi @stefania-santimbrean - it's on my agenda for friday. should be something as a `cf-middleware` example anyway. so once i get it working, i'll morph it into the docs of bespoken middleware.

[2021-05-12 07:06] vobu commented on #515
just to let you know: on my list for friday

[2021-05-12 09:30] stefania-santimbrean commented on #518
hello @vobu ,

Thanks so much! Highly appreciate the middlewares and the tooling 💯  They are an amazing improvement and help developing faster UI5.

Do you have an idea If it's possible to use this setup or make it work when the deployed approuter is used for multitenancy? I asked a different question for this: #519 as it's somehow a separate topic.

Thanks again,
Stefania

[2021-05-12 11:38] vobu commented on #518
i do have that on the radar and will also check while i dig into the cf middleware

[2021-05-14 09:45] vobu commented on #518
so i got it working, and the solution is 3-fold:
1. you need a `default-env.json` in `/` for the app router to pick up a default IdP.
it's easy to create one via `cf default-env $yourapp`
2. add authenticationType to the `index1.html`
[code]
3. and most important, but also most meeeeeh at the same time: `cf-middleware-destination`'s use of the app router doesn't allow for `localDir` setting in `xs

[2021-05-14 10:05] rsletta commented on #518
Great work tracking it down @vobu. I´ll make sure the readme of the repo reflects your findings. 👍

[2021-05-14 14:04] stefania-santimbrean commented on #518
@vobu thanks so much for your support with this! Should I also close the issue or wait for the refactor of middleware first?

[2021-05-16 08:45] petermuessig commented on #519
@vobu , are you experienced with the multitenant capabilities of the approuter? I think this kind of feature here may be added to the cfdestination as well. The `custom-host` could be added also as a configuration option for the middleware and in case of present injected into the headers as `x-custom-host` right?

[2021-05-17 07:44] vobu commented on #519
thx for the hin! will need some support/guidance on this. i'll get back to you on this once i have both the test setup and the new version for `cf-destination` in the pipeline.

[2021-05-17 07:53] vobu commented on #518
leave this open, please. I'll batch-close issues with the respective middleware commit

[2021-05-20 13:56] jvanattedev opened #524 "[ui5-task-i18ncheck] works fine; will unused i18n properties also be identified?"
As far as I can see, this task works as expected: i18n properties used in XML Views but not present in i18n files are identified.

I was wondering whether you could also identify properties in i18n files, which are unused in the xml views?

[2021-05-20 14:12] Smux commented on #515
@vobu Any updates yet? :) would be so great to know whether we can use this middleware to authenticate against a JWT secured deployed backend while developing locally :)

[2021-05-25 15:01] stefania-santimbrean commented on #519
@vobu I have an update about running the multitenant approuter on localhost.

There's no need to extend the approuter. I can just simply go to http://subdomain:localhost:5000. And in default-env.json I have: `TENANT_HOST_PATTERN: "^(.*).localhost"`.

This will extract the subdomain and know to call https://subdomain.authentication.eu10.hana.ondemand.com.

Do you think this can be included also in

[2021-05-26 13:40] vobu commented on #515
with introducing tests to the `ui5-middleware-cfdestination`, I think I got the gist of things.
Upfront: `@sap/approuter` only seems to play nice when _both_ `xs-app.json` and `default-env.json` reside at `/`, also outside `uimodule`:
[code]

this should guarantee that both config files are picked up at run-/dev-time.

Plus, you should also try forwarding the auth token (=== `JWT`) on the configur

[2021-05-26 13:45] Smux commented on #515
Thanks for the update! So once it is merged I will try it again and give you an update as well whether it works for me :)

[2021-05-26 13:53] vobu commented on #519
hi @stefania-santimbrean, thanks for the offer, any help/PR appreciated!
a possible coding approach could be:
- provide a config option to `cf-destination` à la `custom-host` (as @petermuessig suggested) that needs to (by convention) be identical to the `TENANT_HOST_PATTERN` in `default-env.json`
  see https://github.com/ui5-community/ui5-ecosystem-showcase/blob/ed6e6a9027e3a241016312aa968ce83760c

[2021-06-06 11:51] #518 closed

[2021-06-09 07:42] stefania-santimbrean commented on #518
Hi @vobu ,

Thanksssss so much for this fix!!! I'm trying it out right now and was wondering about a small detail. So I want to allow localDir only for index.html so that I login, then switch to the UI5 files served by UI5 Tooling.

And how this happens now is that I go to http://localhost:8080/index.html, I'm routed to XSUAA login, then I'm routed to http://localhost:5000/index.html (which is not

[2021-06-09 14:24] Smux commented on #515
Hello @vobu
I noticed that you released the changes that should essentially fix this issue, however I tested it with the new version and it does not work :(

I tried by generating a new project with the easy-ui5 generator. I get the following structure:
![image](https://user-images.githubusercontent.com/19520637/121372179-5f5cba80-c93e-11eb-9420-526b3c3365b6.png)

I updated my ui5-middleware-cfdes

[2021-06-13 16:33] stefania-santimbrean commented on #515
@Smux in the ui5.yaml you need to define the destinations with **forwardAuthToken** like this:

[code]

Hope this helps :)

[2021-06-14 13:08] Smux commented on #515
@stefania-santimbrean still not working :(
401 unauthorized. default-env.json provided and everything set up as described
![image](https://user-images.githubusercontent.com/19520637/121897166-5e52d100-cd22-11eb-868b-9f20bcff118e.png)

It seems that when I make a request from the UI the authorization flow is not triggered by the middleware.

[2021-06-14 13:29] vobu commented on #515
another root cause could be similar to #508: the location of the `xs-app.json`. You have it at `/uimodule/webapp/`.  Please try placing it directly into `/` and see if that changes things

[2021-06-14 14:06] Smux commented on #515
Still not working :(
Did you ever get it up and running with an xsuaa protected backend while developing it? Or is it unclear whether it is technically working at all?

[2021-06-14 14:09] vobu commented on #515
@rsletta, any field experiences you'd like to share? 😸

[2021-06-25 18:16] ubheamar commented on #515
I am also facing the same issue. I have put xs-app.json in the root directory. I am getting a 401 response code.
![image](https://user-images.githubusercontent.com/10156281/123468219-1d569880-d60f-11eb-97fe-0ea31ddb7e02.png)
I am able to access the first page of cloud but not able to access services.
![image](https://user-images.githubusercontent.com/10156281/123468430-61499d80-d60f-11eb-9df2-050d

[2021-06-26 10:00] ubheamar commented on #515
Thanks, the issue is resolved. I was getting an issue because I was missing last part of the URL in destination ui5.yml
xs-app.json
`{
  "welcomeFile": "uimodule/index.html",
  "authenticationMethod": "route",
  "logout": {
    "logoutEndpoint": "/do/logout"
  },
  "routes": [
    {
      "source": "^/uimodule/(.*)$",
      "target": "$1",
      "authenticationType": "none",
      "localDir": "uim

[2021-06-28 06:19] vobu commented on #515
probably a hint in there to also help you @Smux ?

[2021-07-15 09:48] MaxDownman opened #529 "Double-Encoding-Issue"
Since Version 0.7.2 we have the issue that URIs get double encoded.

A simple example would be to add a OData-Service like this to your dataSources:
"oDataAnnotaions": {
				"uri": "/sap/opu/odata/IWFND/CATALOGSERVICE;v=2/Annotations(TechnicalName='%2FNAMESPACE%2FODATA_ANNO_MDL',Version='0001')/$value",
				"type": "ODataAnnotation"
			},

The root cause of it is that the string provided for the A

[2021-07-15 11:09] vobu commented on #529
@sebbi08 - could you please have a look? thx!

[2021-07-21 08:59] Fjaoos commented on #313
Hi,
I tried the above mentioned method because the (some) $batch requests returned the message that the validation of the csrf token failed.
When I add --h2 the cli asks me if I want to create a SSL certificate but fails because it cannot find openssl (windows 10 machine)

Is openssl a prequesite? What certificate needs to be created?

[2021-07-21 13:22] petermuessig commented on #313
You can also use manually created certificates. The CLI allows to pass `key` and `cert` via CLI parameters:
https://sap.github.io/ui5-tooling/pages/CLI/

Or you just put them into `$HOME/.ui5/server/server.key` and `$HOME/.ui5/server/server.cert`.

The UI5 tooling is using the following NPM package to create the self-signed certificate:
https://www.npmjs.com/package/devcert-sanscache (see also the

[2021-07-22 06:06] petermuessig commented on #524
Hi @jvanattedev ,

sorry for the late reply - I missed you issue. Should be also possible - you would just need to do the check vice-versa. @fatihpense did you think about this direction as well? Anyways, @jvanattedev - this repo is open for contributions, if you want you can contribute this feature... 😄

Best regards,
Peter

[2021-07-22 08:03] matz3 commented on #313
@Fjaoos yes, `openssl` is a prerequisite (For Windows.
There should be a message `Unable to find openssl - make sure it is installed and available in your PATH` when you don't have it installed. Other than that, it should work out-of-the-box. No need to manually run openssl or create a certificate.

[2021-08-05 07:56] #529 closed

[2021-08-05 08:40] C3ntraX opened #533 "middleware-livereload not reloading Chrome"
Hello together,

I have the problem, that the middleware-livereload is not reloading the browser.
The middleware recognizes the changes but it doesn´t know about the open browser.

The script I use with yarn:
"start": "ui5 serve --open index.html",

Console output inlusive change:
![image](https://user-images.githubusercontent.com/44802503/128320378-6014551e-8977-4c74-ba8d-258210342108.png)

The c

[2021-08-05 09:58] vobu commented on #533
the `console` output looks fine - both `server`/app on port 3000 and `livereload` on port 35730 are started correctly.
i just tried to reproduce this (via `yo easy-ui5`, node 16.2.0) and things work as expected:

`ui5.yaml`:
[code]

`package.json`:
[code]

Output:
[code]

What `node` version are you using?
Maybe try upgrading your npm deps in `package.json` and see if that resolves the issue?

[2021-08-05 10:34] petermuessig commented on #533
I had a similar issue in the past and I just missed to clear my browser cache for the html resource. Did you try to clear your cache and reload?

[2021-08-05 11:13] C3ntraX commented on #533
I´m using node v14.17.4

Hmm I think I got it.

I tested the following steps:

1. Clear site data and restat app => does not help
2. Reloading app while devtools are open with disable cache => works

Maybe both steps are required.
After step 2. I restarted the app again and the startup works fine too.... yes it seems like an caching problem.

Thanks for the quick help :)

[2021-08-05 12:33] petermuessig commented on #533
Ok, great - I will see whether we can prevent the caching by default for the index.html page.

[2021-08-05 12:33] #533 closed

[2021-08-05 13:50] MichaelFlucher opened #535 "[ui5-task-zipper] follow symlinks"
Hey, I'm using the `ui5-task-zipper` for the build task to package everything before creationg the .mta file. For reusability we have a Symbolic Link from multiple apps to one `i18n` folder which is included in every project, but the `ui5-task-zipper` simply ignores those files.
Is it possible to support symbolic links?

[2021-08-06 07:46] vobu commented on #535
assigning this to @IObert, the original author of the task.
but: what about adding this in a PR, @MichaelFlucher? :)
and: reaching far, but any chance you might also include a basic test setup similar to https://github.com/ui5-community/ui5-ecosystem-showcase/tree/master/packages/ui5-middleware-cfdestination/test? i'd help with that too

[2021-08-06 07:47] #519 closed

[2021-08-06 07:50] vobu commented on #515
i'll close this for now - it's validated that the `cf-destination` middleware is working for a local runtime authenticating against a remote BTP instance.
to help resolve issues such as @Smux's, i was thinking about hosting a mob coding session some time anyway - sort of a "UI5ers live", only like "UI5ers coding live"...where anyone can participate and we hack together for an hour on multiple use

[2021-08-06 07:50] #515 closed

[2021-08-06 07:52] vobu commented on #397
as @texttechne has suggested a workaround and the message got through to @petermuessig, i'm closing this

[2021-08-06 07:52] #397 closed

[2021-08-06 07:53] #231 closed

[2021-08-06 07:58] vobu commented on #185
we are/were on this with #528 - halfway through, i'd say.
what works: local runtime, remote authentication against a BTP (IdP) instance.
what doesn't work and probably never will: call _remote BTP destinations_ from a local runtime. Reason for this is that the proxy runtime in BTP doesn't allow connections from public networks, not even for an authenticated session. That's why there's e.g. https:/

[2021-08-06 07:58] #185 closed

[2021-08-16 15:28] petermuessig opened #538 "[ui5-task-stringreplacer] wrong docu: yarn install => yarn add"
https://www.npmjs.com/package/ui5-task-stringreplacer

[2021-08-23 15:49] MichaelFlucher commented on #535
Maybe I'll give it a try. So far I simply use following commands in Powershell to deep copy the whole webapp folder:
[code]
Afterwards I change the ui5.yaml to use the webapp-dist folder instead of webapp

[2021-09-10 10:41] Magoli1 opened #540 "[ui5-task-zipper] Error For Third Party Dependencies"
Hey everyone,

in our project we are making use of the builder settings of the ui5-tooling to include external dependencies, in this case swagger-ui resources. A snippet of the `ui5.yaml` looks like this:
[code]

During the zip-task, the following error comes up:

``
builder:customtask:zipper Couldn't add all resources to the archive: Error: absolute path: /libs/swagger/package.json
``

This is pr

[2021-09-14 08:52] LukasHeimann commented on #540
I am experiencing the same problem. Additionally, though, I find that the simple flag `includeDependencies` is not enough for me, as I don't do a standalone build (so I don't want to include the ui5 dependencies), but I still need my `project-shim`s.

I'm using the feature described here to achieve this: https://github.com/SAP/ui5-tooling/issues/494

[code]

[2021-09-14 09:06] mauriciolauffer commented on #540
Because you're zipping the resources, I assume you're going to deploy the project. The [ui5-deployer](https://www.npmjs.com/package/ui5-deployer) could help you with it either doing the deploy via ADT or OData, no need for ui5-task-zipper.

[2021-09-14 09:13] LukasHeimann commented on #540
I need to zip to publish to the HTML5 repository of SAP's BTP via an MTA deployment... So I actually do need to build a ZIP archive.

[2021-09-29 18:45] #538 closed

[2021-09-29 20:46] Magoli1 commented on #540
As this has been implemented in #541 , I will recheck and then close this issue 😄

[2021-09-30 06:34] LukasHeimann commented on #540
I retested my project and it looks good! Thank you for implementing this!

[2021-09-30 09:06] #540 closed

[2021-10-04 16:11] MichaelFlucher commented on #535
After some debugging I noticed that the `ui5-task-zipper` doesn't even get the linked files. The UI5 Buildtool already omits them, so I created a Feature Request: https://github.com/SAP/ui5-tooling/issues/570

[2021-10-04 16:11] #535 closed

[2021-10-18 16:12] piejanssens opened #545 "[ui5-task-stringreplacer] How to load either dev, staging or production .env?"
Because it's the environment of the UI5 build tool that we need to configure with strings variables upon building (and not the environment where the UI5 is deployed), it makes sense that we can set the environment upon building through the scripts of package.json.  Is that possible somehow, given that `dotenv` is used?

[code]

P.S. Same goes for ui5-middleware-stringreplacer

[2021-11-16 19:35] Magoli1 opened #547 "[ui5-middleware-cfdestination] Replacement of xsappPath hardcoded"
**Describe the bug**
When configuring a path to the `xs-app.json` file, where the file is named other than `xs-app.json`, eg. `xs-app-local.json`, the approuter can not find the `default-env.json` anymore, as the passed xsappPath is wrong.

This error originates from this [hardcoded replacement](https://github.com/ui5-community/ui5-ecosystem-showcase/blob/9288a744104a2d31db532c777a356195a3f4ef15/p

[2021-11-17 08:58] vobu commented on #547
good initiative, that could also solve #508 (the approuter doesn't seem to pick up custom locations of `xs-app.json` and `default-env.json` properly).
would you mind giving it a shot and see how far you get?

[2021-11-29 06:25] petermuessig commented on #545
Hi @piejanssens ,

sorry, missed that issue here. 😟  This is indeed interesting - `custom-env` looks good IMO. Will you do a PR or should I check? It may take a bit for me...

BR,
Peter

[2021-12-03 03:49] abul123 opened #549 "ui5-tooling-modules - @azure/storage-blob able to load in network tab but not getting call in the controller.js file of freestyle SAPUI5 template in the Business application studio"
**Describe the bug**
I am successfully able to load d3 libraries in the app and refer it to the controller.js file of the app but when I try to refer **@azure/storage-blob** it is showing in the network tab but after that app is not loading and I do not see any error .

**To Reproduce**
Steps to reproduce the behavior:
1. develop a SAPUI5 freestyle app in the Business application studio and try to

[2021-12-06 08:52] HappyHepo opened #550 "[ui5-task-zipper] Enhance includeDependencies flag to specify dependencies to include"
**Is your feature request related to a problem? Please describe.**
When I deploy a UI5 application to SAP BTP, I only need to include custom dependencies, but not the UI5 libraries.

**Describe the solution you'd like**
I would like to specify the dependency to include similar to how the builder specifies additional dependencies (possibly as another flag/flag value to only include the dependencies

[2021-12-07 01:48] luizcarlospedrosogomes opened #551 "401 in destination CF"
`> targetmngt@0.0.1 start /workspace

info normalizer:translators:ui5Framework Using SAPUI5 version: 1.84.0
#2.0#2021 12 06 20:27:29:779#+00:00#WARNING#/LoggingLibrary################PLAIN##Dynamic log level switching not available#
info server:custommiddleware:cfdestination adding cf-like destination "target-mngt-api" proxying reqs to /target-mngt-api/(.*)
#2.0#2021 12 06 20:27:30:054#+00:00#INFO

[2021-12-07 02:32] luizcarlospedrosogomes commented on #503
![image](https://user-images.githubusercontent.com/9791364/144955418-5cb63a8c-c472-4791-adcb-3c45bf11d474.png)

not load destination

[2021-12-07 09:23] vobu commented on #551
hard to say what you're trying to achieve here - please provide more details (e.g. `ui5.yaml`, `xs-app.json`) and some prose.
error reason may be manyfold - while glancing through the log, it seems there's rather an issue with https://html5-apps-repo-rt.cfapps.us10.hana.ondemand.com/target-mngt-api/xs-app.json as the response is `http 503 `- `service unavailable`

[2021-12-07 10:24] luizcarlospedrosogomes commented on #551
I'm trying to connect UI5 to a REST API, built with Nest and hosted by BTP. We use the BTP role authorization/authentication pattern.
So, in addition to this difficulty in finding the route, we will also have difficulties in authenticating the API and consuming it.

uimodule/webapp/ui5.yaml
`specVersion: "2.2"
metadata:
  name: targetmngt_uimodule
type: application
resources:
  configuration:

[2021-12-09 12:44] luizcarlospedrosogomes commented on #551
I created in ui5.yaml a destination that doesn't exist, he just didn't complain. I think it must be some ui5-middleware-cfdestination problem
![image](https://user-images.githubusercontent.com/9791364/145398200-43169ea1-0f25-4609-9c35-87994d34ad03.png)

[2021-12-10 08:36] vobu commented on #551
would you be so kind and format your file postings properly? it's impossible to decipher the `xs-app.json` or `ui5.yaml`.
Also, please delete any sensitive information such as the `clientsecret` from your post here!

in general, putting both `xs-app.json` and `default-env.json` into `/` is a good idea (also see #508).

[2021-12-10 12:06] luizcarlospedrosogomes commented on #551
thanks for the feedback

the sensitive information has been edited.

xs-app.json and default-env.json are in the root

I've tried several settings within ui5.yaml all without effect.

but I can connect when the app is online (within BTP)

[2021-12-10 13:07] luizcarlospedrosogomes commented on #515
why port 1091?

[2021-12-10 13:24] vobu commented on #515
why not?

[2021-12-10 13:36] luizcarlospedrosogomes commented on #515
![image](https://user-images.githubusercontent.com/9791364/145582003-161236d5-24ae-42dd-9cad-6db0e2fdab80.png)

when i use port 1091.

and I also see examples on port 5000

looking at the cfdestination code it runs an approuter so the port is for the app router

[2021-12-10 17:17] luizcarlospedrosogomes commented on #551
The solution doesn't work!

The way I did it to work was the old way, having an approuter in the project root and giving a "npm start" inside the approuter. That way it authenticates in the api.
![image](https://user-images.githubusercontent.com/9791364/145614770-bda2ae43-2829-4c98-944e-2483a7a9c4aa.png)

[2021-12-17 09:50] stefania-santimbrean commented on #515
@luizcarlospedrosogomes could you paste here your `xs-app.json`?

[2021-12-17 12:25] luizcarlospedrosogomes commented on #515
@stefania-santimbrean tanks for answer
[code]

[2021-12-17 13:30] stefania-santimbrean commented on #515
@luizcarlospedrosogomes no worries :D. The order of the routes is very important, the one for HTML5 repository must be the last one in the `xs-app.json`. This is my first observation. But it might still not work from other reasons. Try this first, to change the order of the 2 routes and let's see if it helps.

[2021-12-17 14:02] luizcarlospedrosogomes commented on #515
@stefania-santimbrean

I gave up using port 1091, I'm using port 5000, but through cfdestination I have 401 status
I can only access the route when I start the app via /approuter -> npm start
I reordered the routes but without success.

![image](https://user-images.githubusercontent.com/9791364/146555767-c8339c10-8988-498a-b249-67dc2b0e7a46.png)

using port 1091 in ui5.yaml
![image](https://user-i

[2021-12-19 02:10] luizcarlospedrosogomes commented on #515
I noticed that when I remove the default-env.json the service goes up on port 1091.

[2021-12-20 12:37] luizcarlospedrosogomes commented on #515
after regenerating the app with yo easyui5 again and updating to the latest version of cfdestination, the app is connecting from my localhost to destination and respecting the roles.

thanks

[2021-12-20 12:38] luizcarlospedrosogomes commented on #551
after regenerating the app with yo easyui5 again and updating to the latest version of cfdestination, the app is connecting from my localhost to destination and respecting the roles.

thanks

[2021-12-20 12:38] #551 closed

[2021-12-21 15:19] petermuessig opened #552 "[ui5-tooling-modules] dependency to @ui5/fs is missing"
**Describe the bug**
The dependency to `@ui5/fs` is missing:
https://github.com/ui5-community/ui5-ecosystem-showcase/blob/main/packages/ui5-tooling-modules/package.json

**To Reproduce**
Use the `ui5-tooling-modules` as dependency and run the build. The build will fail with missing dependencies.

[2021-12-26 09:56] petermuessig commented on #552
Closed with https://github.com/ui5-community/ui5-ecosystem-showcase/pull/548

[2021-12-26 09:56] #552 closed

[2021-12-26 09:56] petermuessig commented on #545
Fixed with https://github.com/ui5-community/ui5-ecosystem-showcase/pull/548

[2021-12-26 09:56] #545 closed

[2021-12-26 18:43] petermuessig commented on #549
Hi @abul123 ,

the 'ui5-tooling-modules` middleware and task are still experimental. Compiling more complex NPM packages such as `@acorn/storage-blob` are a bit more complicated as the underlying `rollup` needs to be configured to also resolve built-in node modules such as `stream`, ... This can be achieved by including the following rollup plugins:

[code]

I tried so but then the next issue is r

[2021-12-28 14:47] Smux opened #554 "[ui5-middleware-cfdestination] Error Message: No UAA service found although default-env is available"
I generated a new application with the easy-ui5-generator and wanted to locally connect my Fiori app with my backend running on Cloud Foundry. The backend is a NodeJs app which is XSUAA protected.
To test my backend I have created an approuter and pushed this to my space as well. The approuter is bound to the same xsuaa instance as the backend. The deployed approuter works like a charm and I can a

[2021-12-28 14:51] Smux commented on #554
I just noticed I had the wrong URL in the destination config, it is now the backend and not the router url. However the issue is still the same because it already fails at "npm start"
"start": "ui5 serve --config=uimodule/ui5.yaml  --open index.html",

[2021-12-28 14:56] treee111 opened #555 "[ui5-middleware-servestatic][ui5-middleware-simpleproxy] Usage as replacement of `framework`"
**Describe the bug**
We develop custom apps which depend on our custom libraries. We moved to UI5Tooling some months ago and it works flawless for local development so far.

Our setup:
- separate repositories per app and library
- SAPUI5 framework v1.71.35  stored local on each Laptop and served using Middleware ui5-middleware-servestatic in all apps&libraries
- custom theme on our onpremise Gatew

[2021-12-29 09:04] vobu commented on #554
it sure smells like #547 with the ui5 tooling and the cf-destination-middleware not picking up `default-env.json` when there's a custom path to `xs-app.json` (see also #508). As a temporary workaround (until #547 gets in), try placing both `xs-app.json` and `default-env.json` in the same dir, e.g. `/`.

[2021-12-29 10:57] Smux commented on #554
awesome it works!! thanks so much :)

[2021-12-29 10:57] #554 closed

[2021-12-29 11:34] Smux opened #556 "ui5-middleware-cfdestination - connect to SAP system"
Is there any way to configure the proxy to also be able to handle requests to an SAP on premise system?
Currently I get the error message "unable to get local issuer certificate" which makes sense, but is there a way to proxy those requests successfully as well?

[2022-01-05 11:24] ddNils opened #557 "[ui5-middleware-cfdestination] need websockets support"
We were trying to use a local websocket mock, which works fine, when it's directly used by the frontend. But we were unable to use this with ui5-middleware-cfdestination.

I did try to enable ws through the approuter xsappConfig like this:
[code]
But I did have to add the additional ports to WS_ALLOWED_ORIGINS to get it working:
[code]
AND add express-ws to the internally used express server:
[cod

[2022-01-10 08:52] vobu commented on #557
hi @ddNils - I'm absolutely pro switching the deprecated `request` module for a solution that also supports websockets. @alperdedeoglu dropped me a line and wanted to tackle replacing `request` → let's put websocket support on the table for this as well!

[2022-01-10 09:01] vobu commented on #556
if you're trying to connect from your local env via `ui5-middleware-cfdestination` to BTP, then consume a destination "living" there, then back to a on-prem system: the answer is "no". BTP's connectivity service (underlying the destination service) is a reverse proxy that only allows connection from private, BTP-only networks.
Your 2 options are:
1. connect from your local setup directly to the on

[2022-01-10 09:01] #556 closed

[2022-01-10 15:47] petermuessig commented on #555
Hi @treee111 , thanks for the issue - although the issue is pretty long and I need to spend some time on it to fully get it it is ok to have it here as an issue. Partially, this is related to how the tooling works and independent from the ecosystem, but we can sort this out here in the issue.

[2022-01-11 12:29] petermuessig commented on #557
Right now, the UI5 Tooling doesn't allow to enhance the express server with `express-ws`. We need to discuss this with @RandomByte and @matz3 - whether this could be enabled in future. Otherwise a workaround would be to put another express server around the UI5 Tooling and the AppRouter...

[2022-01-25 00:07] uxkjaer opened #562 "Implement ui5-middleware-onelogin"
I was hoping I could create a pull request to include the onelogin middleware, however the current app doesn't use any odata services  that require authentication. I was planning on creating a dummy user for the es5 system and have that in a .env file to show the setup, then maybe implement a new app with a test that logs in. I don't think it's a good idea to declare a new model in the ui5-app pac

[2022-01-30 19:41] luizcarlospedrosogomes opened #563 "destination middleware"
run localhost
using default-env.json
#ERROR#/Handler#####502a7f64-9d39-4035-b728-0c91380b4064####4XmEGeuFIC7ToSuhMa2Ja9dANzlXxseC######kz1nqn75#PLAIN##GET request to /screencontrol/api/scm_fv/HomeECommerce/create completed with status 500 Cannot read property 'tokenType' of undefined#

but run in portal or launchpad service without errors

[2022-01-31 07:57] petermuessig commented on #562
Hi @uxkjaer ,

I was first thinking about restructuring the mono-repo in a way that we have multiple app projects, per scenario. But maybe, for now, we stick to this one application and add additional views per middleware/task to it. We can also add an additional view or even a reuse component which uses such a datasource and when navigating to it, the data is loaded. Regarding credentials: maybe

[2022-01-31 08:02] petermuessig commented on #563
Hi @luizcarlospedrosogomes ,

I assume you mean an issue related to `ui5-middleware-cfdestination`?

To me the error is coming from the server with the status code `500`. There the server tries to access the property `tokenType` which is not set. When running in a portal or launchpad, there are credentials set (`tokens`). But this issue could also be related to the `AppRouter`. Can you please atta

[2022-01-31 09:38] vobu commented on #562
i'm also pro bolting in the additional auth scenario into the existing app 👍

[2022-01-31 10:02] luizcarlospedrosogomes commented on #563
Hi @petermuessig

yes,  ui5-middleware-cfdestination.

How to add stacktrace?

I used cf logs apps but the request does not arrive at the api linked to destination.

[2022-01-31 11:17] luizcarlospedrosogomes commented on #563
![image](https://user-images.githubusercontent.com/9791364/151784307-35d866c3-1573-4242-b4ff-c69b620433b7.png)
I have this error, which for me is normal, I open the router app link and I have this other error. remembering that this destination is not authenticated.

xs-app.json
`{
  "authenticationMethod": "route",
  "welcomeFile": "/index.html",
  "routes": [
    {
      "source": "^/user-api(.*)

[2022-01-31 15:59] petermuessig commented on #563
in the stacktrace above, it tries to do some SAML auth - but this doesn't work for XHR requests. How is the destination configured? I am no real expert with the cf destination handling, but this is what I can see. Maybe the following blog helps: https://blogs.sap.com/2018/12/11/cloud-foundry-authentication-how-it-works-step-by-step/

Is it maybe necessary to add the `"authenticationType": "xsuaa",

[2022-01-31 17:21] luizcarlospedrosogomes commented on #563
configuration destination screencontrol
![image](https://user-images.githubusercontent.com/9791364/151841381-fdcd201c-1d75-4556-a188-00d7c4e05128.png)

add "authenticationType": "xsuaa" but error continue.

[2022-02-01 07:19] uxkjaer commented on #562
Happy to do that.
How about maybe having an example folder in each middleware or a seperate samples folder similar to the official sap samples?

[2022-02-01 08:41] petermuessig commented on #563
Shouldn't in the destination configuration also an authentication be configured? I am not sure about that and what should be configured here. As long as there is NoAuthentication, the XHR tries to do SAML authentication, which can't work.

[2022-02-01 08:55] petermuessig commented on #562
One thing I also had in mind is that every middleware and task has it's own test which is called by lerna in each project. Something to rework in general. This would allow to separate the projects also if needed.

What is the granularity you would expect per sample? An application? What I currently do not like so much in the application project is, that we have so many `ui5.yaml` variants which re

[2022-02-01 08:57] petermuessig commented on #1
All relevant information about the TS support for UI5 can be found here:
https://sap.github.io/ui5-typescript/

[2022-02-01 08:57] #1 closed

[2022-02-01 09:37] uxkjaer commented on #562
Well I use the showcase to get inspired and see what other middleware are out there and examples on how to use them. In particular the stringreplacer and flatten library was found and used because of the showcase. I think it would be great to just have a place to go to and find all possible middlewares out there with one or more examples on how to use them. I don't think we need a single app to sh

[2022-02-01 09:37] uxkjaer commented on #562
Well I use the showcase to get inspired and see what other middleware are out there and examples on how to use them. In particular the stringreplacer and flatten library was found and used because of the showcase. I think it would be great to just have a place to go to and find all possible middlewares out there with one or more examples on how to use them. I don't think we need a single app to sh

[2022-02-01 10:33] petermuessig commented on #562
So, best would be to put the things we can together into the `ui5-app` and everything else goes into a special `test` folder of the individual tasks and middlewares? Or better a `samples` folder? If we add them we need to take care to ignore them in the `.npmignore` for each task/middleware.

[2022-02-01 11:19] uxkjaer commented on #562
That to me sounds like a great idea. But I would be keen for more people to voice their opinion. Should we change the ticket name to future structure of the showcase or something similar?

[2022-02-01 11:43] petermuessig commented on #562
Yes, why not, e.g.: "Future Repository Layout". I can also add my suggestion a bit later today.

[2022-02-02 06:56] petermuessig commented on #562
Possible Repository Layout:

[code]

[2022-02-02 08:22] uxkjaer commented on #562
Looks good. What's the purpose of the ui5-app if you have one or more samples for each middleware. Do the middleware have their own repos to raise issues and be maintained independently? I can't find anything on the existing ones. But if I integrate the ones I've created I think it would be better to add them as a sub module and then have a separate repo for maintenance.

[2022-02-02 12:44] luizcarlospedrosogomes commented on #563
log
[code]

[2022-02-02 14:25] vobu commented on #562
hmmm - having 1..n ui5 apps for each task, middleware and/or module will most likely blow up the repo...plus foster a very...heterogeneous...variety of sample apps, probably not all tending towards best practices 😬
is there a way other than git submodules for a monorepo to clone the same ui5 app per task, middleware and module? so that it can be updated centrally w/o further ado? that way we could

[2022-02-02 19:17] luizcarlospedrosogomes commented on #563
I remove service html5-apps-repo-rt in xs-app.json and default-env.json. working  in localhost

[2022-02-02 19:17] #563 closed

[2022-02-02 21:39] uxkjaer commented on #562
As part of our ci at a client we are updating source code on occasions. I've used it to migrate yaml and also package.json files. If we reference the ui5-app and have a local yaml file for each to showcase the middleware then the source code will always be the best practice ui5-app. For my own middlewares I could use this setup for the onogin, data-test-tag and code coverage. I have one for handli

[2022-02-04 01:04] uxkjaer commented on #562
we could in the sample folder of each middleware just have a package.json and a ui5.yaml file. The yaml file would contain a resource mapping similar to this
`resources:
  configuration:
    paths:
      webapp: ../com.myorg.myapp/webapp
`
then when we serve, it's from the central app component and it's just the middlewares that are different depending on the package.json and ui5.yaml from the sam

[2022-02-04 12:07] vobu commented on #562
me likez - that way, we don't clutter the proj w/ multiple ui5 apps, but re-use the default one 👍
@petermuessig - you call the shot(s).

[2022-02-04 12:30] petermuessig commented on #562
Sorry for being late to the party again...

I had the same idea. The only reason why I was a bit conservative yet is, whether there also needs to be some adoptions of the UI parts to showcase the middleware/task related features. Otherwise this would mean that some parts of the app might be just useful for one or the other use-case. What would we do with this stuff then?

Regarding the git submodu

[2022-02-04 21:11] uxkjaer commented on #562
Sounds good. I was thinking on my case where I would need an odata model to create a seperate view in the ui5-app and create the ui5 model in the init method. I know it's not best practice, but it was to avoid adding it to the manifest where no matter the middleware it would request the metadata.
What do you think?

[2022-02-05 14:33] ekansh005 opened #564 "ui5-tooling-modules: not able to use @supabase/supabase-js package"
**Describe the bug**
Hi, I am not able to use '@supabase/supabase-js' package (https://github.com/supabase/supabase-js) in the my controller.js file. It fails to load '@supabase/supabase-js.js' instead of the main file of this package which resolves to dist/main/index.js. I created a simple js file and used  `require.resolve("@supabase/supabase-js")`  to test it and it resolves correctly to instal

[2022-02-07 14:20] petermuessig commented on #564
Hi @ekansh005 ,

I can confirm that there is an issue when using the current rollup bundling with `@supabase/supabase-js`.

In my case it is even worse that after configuring the `ui5-tooling-modules` and `@supabase/supabase-js` in the `package.json`:

[code]

*Attention: you also need to add the dependency to supabase in the ui5 > dependencies section!*

The server now stops working:

[code]

The

[2022-02-07 21:42] #564 closed

[2022-02-07 22:16] petermuessig commented on #564
ui5-tooling-modules 0.1.2 has been released just right now.

[2022-02-08 08:24] ekansh005 commented on #564
Hi @petermuessig
Thanks for your quick support but I am still facing the same problem. I updated the package to 0.1.2 and added supabase package to ui5.dependencies. Here is my package.json.
[code]
And this is my controller
[code]
What am I doing wrong?

[2022-02-08 08:27] petermuessig commented on #564
Hmm, that's strange -  I tested exactly this scenario and it worked for me. Did you run `npm install` or `yarn` after changing the version? Please make sure to delete the `package-lock.json` or `yarn-lock.json` and the `node_modules` to ensure that the latest version of the middleware is used. You can also check in `node_modules/ui5-tooling-modules/package.json` is also having the version `0.1.2`.

[2022-02-08 08:29] petermuessig commented on #564
BTW: the NPM packages used by the `ui5-tooling-modules` don't need to be added to `ui5` > `dependencies`.  The resolution of the NPM packages is not happening via the UI5 tooling virtual file system so the standard dependency is sufficient.

[2022-02-08 09:25] ekansh005 commented on #564
Yes, in fact I did `npm update` so the packages were updated automatically. Anyhow, I deleted the `package-lock.json` and `node_modules` and did a fresh `npm install`. I can confirm that the version is 0.1.2.
FYI, the project was generated from Fiori tools application generator in vscode and not with `easy-ui5`. I don't think that it makes any difference but just thought of mentioning.
I am follow

[2022-02-08 11:46] petermuessig commented on #564
Yes, @ekansh005, please send me your repo.

BTW: i didn't mean to remove the tooling from UI5 > dependencies ; just the @supabase entry. This is sufficient as normal dependency.

[2022-02-09 08:26] petermuessig commented on #564
Thanks for the example @ekansh005 - I can confirm that the issue if related to the Fiori Tools Proxy which intercepts the requests and the ui5-tooling-modules-middleware is not used to handle the request:

![image](https://user-images.githubusercontent.com/1589419/153155388-5e38cbfc-f3f0-45e2-a71c-12c3a5ff9bf0.png)

I'll check whether there are some possibilities to fix this

[2022-02-09 08:35] petermuessig commented on #564
Hi @ekansh005 ,

the trick is the following:

[code]

You need to ensure that the fiori-tools-proxy is running after the ui5-tooling-modules-middleware by explicitly set the:

`afterMiddleware: ui5-tooling-modules-middleware`

This should solve your issue.

[2022-02-09 08:48] ekansh005 commented on #564
Thanks @petermuessig! This trick did solve the issue. Thanks a lot again for your support. Should this be added in the npm documentation?

[2022-02-09 09:01] petermuessig commented on #564
Hi @ekansh005 , would be good - at least as a hint below the middleware configuration, that in case of a proxy is being used which conflicts with the request path that the `ui5-tooling-modules-middleware` must run before the proxy.

If you want, you can add a proper comment to the documentation? Contributions are highly appreciated 😄
https://github.com/ui5-community/ui5-ecosystem-showcase/tree/mai

[2022-02-09 09:18] ekansh005 commented on #564
Pull request is created 😄

[2022-02-19 18:58] marianfoo opened #578 "[ui5-tooling-modules] UI5 AMD like modules getting transpiled"
**Describe the bug**
When using npm packages with UI5 AMD like modules, these getting transpiled and wrapped in another sap.require.
Using this will get the error "Modules that use an anonymous define() call must be loaded with a require() call".

**To Reproduce**
Steps to reproduce the behavior:
1. Load npm package with steps described here: https://github.com/SAP-samples/ui5-typescript-tutorial/

[2022-02-24 13:51] #578 closed

[2022-02-28 02:43] uxkjaer opened #588 "refresh cookie when session has ended in the ui5-middleware-onelogin"
**Is your feature request related to a problem? Please describe.**
If the user hasn't refreshed the page for a long time, then the session token expires and the onelogin middleware doesn't recognise this and passes the old token making the requests fail
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Use the session expiry time to validate whether t

[2022-03-04 14:35] petermuessig opened #589 "[ui5-tooling-modules] CommonJS modules just expose the default export rather than exports"
**Describe the bug**

When using the [`graphql-request`](https://www.npmjs.com/package/graphql-request) NPM package and provide it via the `ui5-tooling-modules` middleware, the module just exports the `default` rather than the `exports` which makes the dependency not usable.

**To Reproduce**
Steps to reproduce the behavior:
Add a dependency to `graphql-request` and require in ui5 `graphql-request

[2022-03-04 14:36] petermuessig commented on #589
https://www.npmjs.com/package/@rollup/plugin-commonjs

=> we need to add `defaultIsModuleExports: true` to the commonjs plugin

[2022-03-04 14:42] #589 closed

[2022-03-04 14:43] petermuessig commented on #589
Will be released just right now with:
[code]

[2022-03-04 14:44] petermuessig commented on #589
https://github.com/ui5-community/ui5-ecosystem-showcase/actions/runs/1934286179

[2022-03-17 07:27] mauriciolauffer opened #590 "What happens with assets such as css, img, audio, video, etc"
It isn't a bug, it's to start a discussion...

What would happen when a pkg has assets which may are direct accessed by js (css, img, audio, video, etc)? Or, has plugins in subfolders which are not npm pkgs? For instance, [amchats](https://www.amcharts.com/docs/v4/concepts/themes/)

What if the pkg is already built and minified in a dist folder. For instance, [Ajv](https://www.npmjs.com/package/aj

[2022-03-18 13:16] petermuessig commented on #590
I had a similar discussion already after showing my solution with the inclusion of CSS. By resolving it via `sap.ui.require.toUrl` is is marked as to be included:
https://github.com/ui5-community/ui5-ecosystem-showcase/blob/main/packages/ui5-app-module/Chart.js#L48

But in general, we should rather think of a concept to just copy all assets into the dist of the application with the task. For the m

[2022-04-07 09:24] ekansh005 commented on #564
Hi @petermuessig,

I am bothering you again on this closed thread but probably it would be best to continue here instead of new thread. As concluded earlier, the app works perfectly with `npm run start` which uses `fiori tools proxy` but when I perform `npm run build` and run the `index.html` from `dist` folder, first it fails as it is not able to load UI5 library. But if I mention the UI5 CDN lin

[2022-04-07 10:52] uxkjaer opened #596 "Onelogin doesn't work with certificate sign on"
When system is set up with certificate sign on, the middleware fails as playwright can't detect the certificate prompt.

To fix this we need to add a config parameter for SSO and set the channel to chrome
const browser = yield playwright_chromium_1.chromium.launch({
                headless: (options) ? !options.configuration.debug : true,
                channel:"chrome",
                args: ['

[2022-04-07 13:36] petermuessig commented on #564
In case of using your application inside Fiori launchpad or loading the UI5 resources from CDN you may add also a client-side path mapping configuration for your 3rd party dependency, e.g.:

[code]

I also think about enabling the generator of this configuration into the Component.js automatically so that it is completely free of configuration.

Cheers, Peter

[2022-04-11 11:36] #596 closed

[2022-04-15 12:16] wridgeu opened #602 "[ui5-tooling-modules]: consider the `browser` field in package.json when resolving dependencies"
**Is your feature request related to a problem? Please describe.**

When trying to include third party code i.e. [marked.js](https://github.com/markedjs/marked) in your application it may happen that there are several builds available. In this particular case when trying to resolve the dependencies using Nodes native `require.resolve` only the `main` field is respected which leads to loading or ra

[2022-04-19 07:45] petermuessig commented on #602
Hi @wridgeu ,

I enhanced the `ui5-tooling-modules` a bit further to ignore those 3rd parties which cannot be transpiled and converted to UI5 AMD like modules. This will prevent the issue to appear in the generation of the app using the `marked` dependency: https://github.com/ui5-community/ui5-ecosystem-showcase/pull/603

This is just one step ahead - the release of the fixed version will happen a

[2022-04-19 08:14] petermuessig commented on #602
One more is coming - finally finished a feature which is pretty interesting for embedded scenarios, e.g. in FLP:
https://github.com/ui5-community/ui5-ecosystem-showcase/pull/605

This feature allows to generate the `sap.ui.loader.config` with the path mappings for the bundled resources! With that the app can also run inside an FLP without changes.

[2022-04-19 18:04] wridgeu commented on #602
Hey @petermuessig

Cool, why didn't I think of that! 😄 This fixes the issues at build time. I can make the consumption of marked work now by using the Shim + `sap.ui.loader.config`, nice! I also don't have issues with the integration cards anymore. 😊

That's awesome! In the case of marked it won't work (as `getResource` and the following `require.resolve` will continue to resolve to `.cjs`). If so

[2022-04-20 05:57] petermuessig commented on #602
@wridgeu - please keep it open to follow up on the `browser` idea

And don't feel bad to comment issues or PRs - this is a valuable contribution! 😉

[2022-04-20 13:47] Zitruism opened #606 "[ui5-task-flatten-library] Flatten ignores files without a file extension"
**Describe the bug**
Our library project contains a small amount of files which do not end on a file extension. For example: "LICENSE" instead of "LICENSE.txt". Unfortunately the glob for all workspaceResources does only look for files which have an extension:

`const allWorkspaceResources = await workspace.byGlob("/**/*.*");`

This leads to the behaviour that the complete directory tree which con

[2022-04-28 04:43] vobu opened #607 "migrate away from `lerna`"
the always present Damocles sword of technical debt and OSS maintenance/funding issues has also hit `lerna`: https://github.com/lerna/lerna/issues/2703
it is not actively maintained anymore. so we
- need to keep v3 and pin that in package.json
- adopt to a new monorepo management solution
sigh.

[2022-04-29 07:32] uxkjaer commented on #607
I'm happy to take on the challenge to migrate to turbo repo and using changesets for versioning. I'll create a pull request when I get some free time and start working on this. I also use pnpm in other repos. Anyone against adding this instead of yarn. I quite like the non flat node modules structure and the cache and symlinking.

[2022-04-29 14:08] vobu commented on #607
+1 on _not_ using `yarn` > 1

[2022-04-30 05:58] uxkjaer commented on #607
when I replace yarn with pnpm and run install I get this warning:
 WARN  Issues with peer dependencies found
packages/ui5-app
├─┬ @wdio/cli
│ └─┬ @wdio/config
│   └─┬ @wdio/types
│     └── ✕ missing peer typescript@^4.6.2
└─┬ wdio-chromedriver-service
  └── ✕ missing peer webdriverio@^7.0.0
Peer dependencies that should be installed:
  typescript@^4.6.2   webdriverio@^7.0.0

@vobu should I add the

[2022-04-30 07:24] uxkjaer commented on #607
Using changesets I believe we can have the github actions bot to create a new pr for a changeset, when that is merged a new version is created on the subpackages. So all is automatically added to the pr when making changes. See this [repo](https://github.com/azu/monorepo-release-changesets) as an example. With Turborepo and husky we can add a pipeline to make sure all "chore" tasks have been compl

[2022-04-30 07:25] vobu commented on #607
those warnings originate from `wdi5` being used - you can ignore them.

[2022-04-30 07:25] uxkjaer commented on #607
check this [PR](https://github.com/ui5-community/ui5-ecosystem-showcase/pull/608) for current status and comment if I take it too far

[2022-04-30 07:54] vobu commented on #607
to infinity and beyond, brother 👨‍🚀 🤣

[2022-04-30 15:56] petermuessig commented on #607
I am currently thinking about using `beachball`: https://microsoft.github.io/beachball/

[2022-04-30 15:57] petermuessig commented on #607
Going away from `yarn` may be a bit more complicated... I even see mixing `yarn` and `turborepo` is possible

[2022-04-30 17:41] marianfoo commented on #607
i don't know all the consequences, but it's also possible to move all packages in own repos
Just throw it in as a option

[2022-05-01 09:55] petermuessig commented on #607
For sure, but as long as one maintains the projects a monorepo is the better approach to make collective changes. Also testing is much simpler for the show-case to just link the related projects using `yarn` workspaces.

[2022-05-02 05:48] petermuessig commented on #607
Interesting reading about the package managers:
https://blog.logrocket.com/javascript-package-managers-compared/

[2022-05-02 05:48] petermuessig commented on #607
I need to understand `pnpm` more in depth - as mentioned in the PR installing deps only once makes me interested!

[2022-05-02 07:42] uxkjaer commented on #607
Also updating packages in subpackages can be done at root level, it also picks up packages from the repo before npm, so in the ui5 app it will pick up the simple proxy folder instead of the published package which makes it easier to develop and test. How about I give it a go and do some testing, see how I go. I've had very few issues with changing. And the nested package structure can be disabled

[2022-05-02 08:25] petermuessig commented on #607
Yes, please go ahead. Did you also see my change #609 ? Maybe we can submit this one and upgrade to `pnpm` after that. I would also think then of using `beachball` instead of `lerna` for version and release management?

[2022-05-02 08:27] uxkjaer commented on #607
Yup sounds great. I'll merge to main and then pull the changes to my branch. Beachball sounds good, I'll take a look. I found changesets a bit cumbersome for our needs.

[2022-05-02 08:32] petermuessig commented on #607
Cool. Interesting in #609 are mostly the project configuration files rather than the project sources. There in general `prettier` changed most of the source files to apply the general formatting now.

[2022-05-02 19:53] uxkjaer commented on #607
just went through the blog. quite interesting. My take on it would be pnpm for now and then maybe yarn berry later on. I'm familiar with pnpm and have had very little issues with it so far.

[2022-05-02 20:00] petermuessig commented on #607
I am fine with `pnpm`

[2022-05-02 20:28] uxkjaer commented on #607
just had a little play with beachball. It seems really cool. I would suggest we let the CI handle the publish. I tried to add a husky post-commit to handle the beachball change, however it's not interactive then. Any ideas?

[2022-05-04 05:56] petermuessig commented on #607
I'll take a look - I wanted to do so nevertheless to get away from `lerna` also for other projects. After you merged my PR, I can do this as a next step to keep the "semi-"automated flow. With `lerna` I also triggered the version changes locally and this finally triggered a commit which triggers the GH release action.

[2022-05-06 12:40] petermuessig opened #611 "Better 3rd party libraries support (ui5-tooling-modules, zipper)"
Todos:

- Prefix dependencies rather than using `sap.ui.loader.config({ paths: {...}})` so that multiple apps in one runtime context can use individual versions of those dependencies
  - Recursively handle the dependencies rewrite also for transitive dependencies (e.g. `chart.js` used in `ui5-app-module`)
- Dependencies should be copied into project namespace to: (via configuration switch)
  - inc

[2022-05-12 11:56] nsahadev1 opened #613 "Later Versions of xmldom 0.6.0 have not not been updated in ui5-task-i18ncheck"
Hello team,

We would like to upgrade xmldom to version 0.7.0 as part of security vulnerability fix,

the latest version of xmldom is updated in the [npm repo](https://www.npmjs.com/package/@xmldom/xmldom).

could you update your library.

Regards,
Navin

[2022-05-12 15:00] vobu commented on #613
knock yourself out and cut a Pull Request :)

[2022-05-20 22:34] petermuessig commented on #613
Hi Navin,

looking for `xmldom` I don't see a higher version than `0.6.0`:
https://www.npmjs.com/package/xmldom

BR, Peter

[2022-05-22 20:07] petermuessig commented on #613
Ah, ok, got it: https://www.npmjs.com/package/@xmldom/xmldom - I didn't check the link properly...

Update requires to modify `package.json`:

[code]

and the `utils.js`:
[code]

Do you know out of your mind whether it is compatible?

[2022-05-22 20:35] #613 closed

[2022-05-30 14:16] petermuessig commented on #607
`lerna` is progressing: https://github.com/lerna/lerna/issues/3121

We'll keep `lerna` for now but we will switch to `pnpm`!

[2022-05-30 14:16] #607 closed

[2022-06-03 20:07] #606 closed

[2022-06-08 11:45] oliversviszt opened #622 "ui5-tooling-modules-task: XML Views lead to stack overflow"
Hi,

I have an XML viw the following content:
`<?xml version="1.0" encoding="UTF-8"?>
<mvc:View
      xmlns="sap.m"
      xmlns:mvc="sap.ui.core.mvc"
      xmlns:html="http://www.w3.org/1999/xhtml">

      <html:style>
                  .whatever {
                        color:blue;
                  }
      </html:style>
</mvc:View>
`

When using ui5-tooling-modules-task, this leads to an error

[2022-06-14 10:15] bsehp commented on #622
Hello,

got the same problem. Changing line to typeof node === "object" works

[2022-06-14 12:56] JRunnerL commented on #622
Hi,

i also have the same problem..

[2022-06-15 09:20] bsehp opened #623 "Couldn't bundle plugin xlsx"
**Describe the bug**
Hello,

I am using SAP BAS to create an app which uses the npm module xlsx.
The npm package xlsx does not get bundled during build process. I first openend an issue at the [ui5-tooling](https://github.com/SAP/ui5-tooling/issues/628) repo which was closed and it was recommended to open it here first.

`npm run build `

results in:

![image](https://user-images.githubusercontent

[2022-06-21 06:12] petermuessig commented on #622
Hi @oliversviszt,

I had the same issue in the past and fixed this at some point in time. But I assume you use the latest version, right?

Regarding:

Contributions are very welcome... 😄

[2022-06-21 06:13] petermuessig commented on #623
I'll check it in my next spare time...

[2022-06-21 06:21] marianfoo commented on #623
I also noticed this problem with other libraries (Octokit, Firebase) on a [project of mine](https://github.com/marianfoo/gh-following-to-rss) with the same error.
I was able to solve it, but I am not so happy with the current solution, but it works ;)
https://github.com/marianfoo/gh-following-to-rss/blob/b321991aa6d5d69e6c88935a64decd3f38bc42fe/src/index.html#L50-L53
https://github.com/marianfoo/g

[2022-06-21 20:55] #622 closed

[2022-06-22 04:08] SheetJSDev commented on #623
@bsehp the `xlsx` package ships with standalone browser scripts as well as a CommonJS and ESM build.

From our notes, some users have uploaded the standalone script (https://cdn.sheetjs.com/xlsx-0.18.9/package/dist/xlsx.full.min.js) using the SAP WebIDE, added the script as a resource, and referenced the standalone script directly through the `sap.ui.define` call.  A cursory search on the SAP site

[2022-06-22 05:39] petermuessig commented on #622
`ui5-tooling-modules` version `0.4.0` is available since this morning and should fix your issue:
https://www.npmjs.com/package/ui5-tooling-modules

[2022-06-24 02:31] iggycoder opened #626 "[ui5-middleware-stringreplacer] regression since version 0.3.7"
Replacer does not work anymore since the refactoring in `0.3.7`. The log message is `No strings to replace provided either through the process environment or middleware config`.

My Config:
[code]

The mentioned file `ServiceConfig.js` has some logic where I am creating a websocket url like this:
[code]

Worked flawlessly until version `0.3.6`.

[2022-06-25 13:30] oliversviszt commented on #622
Thanks @petermuessig, with version 0.4.0 it works perfect now, thank you.

[2022-06-26 08:34] petermuessig commented on #623
The root cause of the issue has been found and is related to the lookup of the Node built-ins in the chain of the rollup plugins. I fixed this with the linked PR and will release an update of the extension soon.

[2022-06-26 08:44] #623 closed

[2022-06-26 08:51] petermuessig commented on #626
Hi @iggycoder , the issue seems to be releated to #617  from @piejanssens - I'll check it...

[2022-06-26 09:13] #626 closed

[2022-06-26 10:18] petermuessig commented on #623
Fixed with `ui5-tooling-modules` version `0.5.0`

[2022-06-26 10:18] petermuessig commented on #626
Fixed with stringreplacer version `0.7.1`

[2022-06-26 18:59] petermuessig commented on #623
Use 📦  `ui5-tooling-modules@0.5.1`

[2022-06-29 12:25] nocin opened #633 "[ui5-tooling-modules] Adding chart.js to CAP application with fiori freestyle frontend and local testing"
**Describe the bug**

I'm trying to find the correct way to use NPM packages (in this case chart.js) in my Fiori Freestyle Application when testing with `cds watch` in the Business Application Studio.
When following the [documentation ](https://www.npmjs.com/package/ui5-tooling-modules) or this [guide ](https://github.com/SAP-samples/ui5-typescript-tutorial/tree/main/exercises/ex8)I get the error

[2022-07-01 10:27] petermuessig commented on #633
Hi Nico,

did you try the option `prependPathMappings` already?
https://github.com/ui5-community/ui5-ecosystem-showcase/blob/main/packages/ui5-tooling-modules/README.md?plain=1#L36-L37

It adds the path mappings for the 3rd party. There are also even further plans and a PR is in progress to copy the 3rd parties into a specific namespace underneath the application. Then no path mappings would be ne

[2022-07-01 10:27] #633 closed

[2022-07-01 10:28] petermuessig commented on #602
The latest version of the `ui5-tooling-modules` => `0.6.0` now has a better support for bundling OSS. Should not be needed anymore.

[2022-07-01 10:28] #602 closed

[2022-07-04 13:24] nocin commented on #633
Hi Peter,

I'm not sure if I unterstand the `prependPathMappings` correctly but is it only used when running a app in a (Sandbox) Launchpad?! May be this is my misunderstanding. Does the whole thing only works when using a (Sandbox) Launchpad as it will provide the sapui5 libraries locally?

When using `cds watch` the application is always started using the `index.html`. So I was expecting the dea

[2022-07-06 10:32] bsehp opened #638 "Third party library is requested from https://ui5.sap.com/1.99.4/resources/xlsx.js"
**Describe the bug**
When deploying a ui5 app to abap backend a thirdparty is not found.

**To Reproduce**
Steps to reproduce the behavior:
1. create empty ui5 app in bas
2. install npm modules ui5-tooling-modules & xlsx
3. add library to controler (sap.ui.define "xlsx" & function (Controller, XLSX)
4. deploy to abap server (steampunk)
5. when loading the app xlsx is requested from https://ui5.sap

[2022-07-12 08:14] nocin commented on #633
Hi Peter,

as I'm not able to reopen it my issue (I think because I cannot re-open my own issue if a repo collaborator closed it), just a new comment as notification. :-)

BR
Nico

[2022-07-13 20:29] petermuessig commented on #633
You can in any case use `prependPathMappings=true`

[2022-07-13 20:30] petermuessig commented on #638
Hi @bsehp .

same question like #633

Did you try the option prependPathMappings already?
https://github.com/ui5-community/ui5-ecosystem-showcase/blob/main/packages/ui5-tooling-modules/README.md?plain=1#L36-L37

It adds the path mappings for the 3rd party. There are also even further plans and a PR is in progress to copy the 3rd parties into a specific namespace underneath the application. Then no

[2022-07-13 20:30] #638 closed

[2022-07-14 06:12] bsehp commented on #638
This works. Thanks again!

[2022-07-14 14:08] piejanssens opened #641 "[ui5-middleware-cfdestination] does not work when serving with --h2"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Use ui5-middleware-cfdestination
2. Run with `ui5 serve --h2`
3. See error

[2022-07-18 08:50] nocin commented on #633
Hi @petermuessig,

thank you for the explanation!
When creating a plain new ui5 application everything is fine and the chart.js library is loaded while testing i.e. with `npm run np-flp`. Also the build process works fine.

But when building a CAP Application usually you start the App using `cds watch` and then opening the `index.html`. Can it be that this way the ui5.yaml is not used as you are n

[2022-07-28 05:56] petermuessig commented on #641
@vobu - are you aware of this?

[2022-07-28 11:56] vobu commented on #641
now I am, sorry 😮‍💨
probably an issue w/ the dependencies of the middleware. I'll try looking into it the next couple of days, but would really be grateful for a hand here *nudge nudge* @piejanssens 😄

[2022-07-28 15:08] piejanssens commented on #641
I think we'll have to swap out `request` for `fetch-h2`.

[2022-08-01 12:12] nocin commented on #633
Hi @petermuessig,

just a little ping. :-)

[2022-08-17 15:40] petermuessig commented on #611
Fixed with #614

[2022-08-17 15:40] #611 closed

[2022-08-22 08:30] gregorwolf opened #645 "[ui5-middleware-onelogin] Calling comsapperso endpoint of Launchpad results in redirect"
**Describe the bug**

I've added ui5-middleware-onelogin to the UI5 App app/webapp/item-pricing-cap-v2 in my [bookshop-demo](https://github.com/gregorwolf/bookshop-demo) project with commit [feat: add ui5-middleware-onelogin](https://github.com/gregorwolf/bookshop-demo/commit/d0a58b363e83b070d94334fe18444ee6e8c5c32b). Unfortunately sending a GET request to http://localhost:8080/comsapperso/flex/pe

[2022-08-22 22:43] uxkjaer commented on #645
Hi @gregorwolf ,

I'll take a look at this soon. Just need finish a delivery first. Hope to have an update for you next week. It's curious how the onelogin should be the cause of this as it's supposed to only handle cookie injection at the beginning of serving your project. But I haven't tested it properly with a CAP application yet.

//Jakob

[2022-08-29 15:00] nocin opened #646 "[ui5-tooling-modules] Adding chart.js to CAP application with fiori freestyle frontend and local testing"
Hi @petermuessig,

as I'm not allowed to reopen a closed issue and you properly will not see my response in the closed one, I'm opening a new one here.

Reference: #633

BR,
Nico

[2022-08-31 05:28] uxkjaer commented on #645
Hi @gregorwolf
I looked into this a bit and it seems that it's an issue with the IdP, if I try to access https://60714212trial.launchpad.cfapps.us10.hana.ondemand.com/site/trial I get the same error.
When trying on chrome, firefox and safari it will ask me for keychain access and afterwards get the oauth error.
Can you please check the settings on the IdP?

[2022-08-31 06:19] gregorwolf commented on #645
Hi @uxkjaer,

is there any working example using SAP ID Service? I've also tried with an approuter endpoint instead of the Launchpad service. But same issue.

[2022-09-01 12:59] SCHRJE1 opened #647 "[ui5-middleware-cfdestination] issues with mTLS (certificates) backends"
Hi colleagues.

When connection via the _ui5-middleware-cfdestination_ module with an existing _default-ev.json_ and _xs.app.json_.
In the console, the _certurl_ provided in the xsauaa credential section is overwritten by a hard-coded url: https://authentication.cert.sap.hana.ondemand.com/oauth/token and the _certurl_ mentioned in the _default-env.json_ will not be considered.

Same, we figured ou

[2022-09-02 07:40] vobu commented on #647
yeah, i hear you! well, if only the `@sap/approuter` would be Open Source so we could check out whether there's a bug in it with the behavior you describe...if only... 😢 😭
@tobiasqueck: can your relay to Katja, Tobias S. or whomeverItMayConcern™ please?

[2022-09-04 06:26] sergioRozenszajn commented on #647
Hi,
The code in approuter that does it is:
if (uaaOptions.certurl) {
    let hostname = url.parse(uaaOptions.certurl).hostname;
    let certDomain = hostname.slice(hostname.indexOf('.') + 1);
    let tenantCertHost = (tenant ? tenant + '.' : '') + certDomain;
    uaaOptions.certurl = toUrlString(url.parse(uaaOptions.certurl), tenantCertHost);
  }

It just replaces the tenant in the certurl by the

[2022-09-22 05:35] petermuessig commented on #646
@nocin - any update? Can we close the issue?

[2022-09-22 08:51] nocin commented on #646
Hi @petermuessig,

thanks for your answer. I think I have understood so far. I guess when deployed in CF, the app runs via ui5 tooling and it's only a problem when testing locally?
I'm unfortunately a bit busy right now so I haven't had time to test yet.

And sorry for opening a second issue. Perhaps the repo settings can be changed, that issue creators are allowed to reopen their issue? Or does t

[2022-09-22 08:57] #646 closed

[2022-11-15 07:36] ramanareddy438 opened #649 "Getting required is not defined when using ssh2 node library in UI5 framework"
I am trying to use the node library ssh2 in the UI5 project. But I am getting the required is not defined at line ssh2.js as shown in the following screenshot. Please help if there are any alternatives to fixing the issue.

![image](https://user-images.githubusercontent.com/7078863/201856982-f3dd0d11-e355-4959-8a2d-765700275a93.png)

[2022-11-15 08:23] petermuessig commented on #649
Hi @ramanareddy438 ,

as explained in my answer in the blog, this is a limitation of the ssh2 library which requires native code and thus cannot be used at client side.

https://stackoverflow.com/questions/42799888/can-you-use-the-node-package-ssh2-in-a-browser

Sorry for having no better news.

[2022-11-15 08:23] #649 closed

[2022-11-15 14:27] ramanareddy438 commented on #649
Thank you Peter. I submitted the ticket before seeign your answer. I understand.

[2022-11-16 08:11] tobiasqueck opened #650 "[ui5-tooling-transpile] Misleading console errors when using ui5-tooling-transpile-middleware"
**Describe the bug**
The bug was originally reported at https://github.com/SAP/open-ux-tools/issues/764. It actually consists of two separate but related issues.

**(1) Component-preload.js**

When running the generated TS app as part of a local FLP instance for testing, then the shell tries to load a `Component-preload.js` file. The middleware tries to find a not existing `Component-preload.ts` f

[2022-11-16 08:12] tobiasqueck commented on #650
@petermuessig here are the issues that we just discussed on the phone.

[2022-11-16 08:27] tobiasqueck opened #651 "[GENERAL] Showcase module of a middleware or task using TypeScript"
**Is your feature request related to a problem? Please describe.**
We as the maintainer of the in SAP Fiori tools and the Open UX tools (https://github.com/SAP/open-ux-tools) develop multiple custom tasks and middlewares. Our development language of choice is typescript, however, there are no types available for the API that is to be implemented by custom tasks and middlewares.

**Describe the sol